[2013-11-29 00:19] fklassen opened #1 "netmap injector"
Enhancement that in my test environment is achieving full wire-rate with tcpreplay on my Intel 10GigE ixgbe (82599) adapter. I am also able to achieve full wire rate on Intel igb (server i350) GigE adapters. Note that I am only achieving 900Mbps on Intel e1000e (desktop 82574L) adapters, which appears to be the physical limitation of this adapter.

Performance is gained by replacing network driver

[2013-11-30 01:25] fklassen opened #2 "improve --mbps option stability and performance"
On fast links (i.e. 10GigE) the '--mbps' option is not performing as quickly as the '-t' option. This should be improved. Example:

[code]

[2013-12-03 21:32] #2 closed, assigned to fklassen

[2013-12-03 22:23] #1 closed, assigned to fklassen

[2013-12-03 22:29] fklassen opened #4 "add --unique-flows feature"
This feature in tcpreplay will ensure IPv4 and IPv6 packets will be unique for each iteration of the --loop option. This must be done in a way that will not affect CRC, and therefore not affect wire-rate performance. This will significantly increase the flows/sec over multiple loop iterations.

[2013-12-03 23:35] fklassen opened #5 "Convert from BSD to GPLv3 license"

[2013-12-04 17:12] fklassen opened #6 "Unable to build on systems without autogen installed"
Should be able to run **./configure** only on systems that do not have autogen installed. Getting the following on OS X:

[code]

[2013-12-04 21:03] #4 closed, assigned to fklassen

[2013-12-04 21:31] fklassen opened #8 "implement pseudo-CRC routine"
**tcpreplay-edit** performance is impacted by expensive CRC recalculations whenever an IP address changes. This enhancement implements pseudo-CRC code similar to routines found in Linux kernel in an attempt to improve overall performance.

[2013-12-05 03:59] #8 closed, assigned to fklassen

[2013-12-05 23:21] fklassen opened #11 "Unable to compile on OS X due to libpcap"
Not sure if I have to compile libpcap with special options. Library seems to be missing something:

[code]

 and when linking...

[code]

[2013-12-06 21:14] #6 closed, assigned to fklassen

[2013-12-07 00:12] #5 closed, assigned to fklassen

[2013-12-07 04:34] #11 closed, assigned to nobody

[2013-12-07 19:29] fklassen opened #16 "option updates and 4.0 merge"
As per discussion with @synfinatic

I am thinking the following, and please let me know if you have concerns:

1) get rid of --rdtcs and --rdtsc-clicks - as discussed
2) get rid of --sleep-accel - already done. Not required now that timestamps happen after packet is sent, and time stamping doesn’t happen when it detects that TX is falling behind. Now --mbps as fast as or faster than --pps
3) get r

[2013-12-08 05:51] fklassen opened #17 "deprecate enable-file-cache option - subtask of #16"
the --preload-pcap option does the same thing and does not slow down the first iteration when using --loop

[2013-12-09 03:10] fklassen opened #18 "merge 4.0alpha1 - subtask of #16"
@synfinatic has developed a 4.0 alpha branch that was blocked by cmake but has lots of good stuff. Merging the good stuff.

[2013-12-09 03:13] fklassen opened #19 "option --unique-ip is slower than expected."
In POC for this feature based on 3.5.0beta1 am able to achieve about 7150Mbps on 10GigE link, both with and without this feature. When running netmap get around 9490Mbps with and without unique IP feature.

Current master sees overhead when running this feature.

Without - 7379 Mbps
With - 6717 Mbps

It is more pronounced with --netmap feature ...

Without 9492 Mbps
With 8839 Mbps

This routine ne

[2013-12-09 19:35] #16 closed, assigned to fklassen

[2013-12-09 19:35] #18 closed, assigned to fklassen

[2013-12-09 19:37] #17 closed, assigned to fklassen

[2013-12-09 19:46] fklassen opened #21 "Bug - merge build fails when building netmap after merge #20"
After merge get the following error

[code]

[2013-12-09 21:42] #21 closed, assigned to fklassen

[2013-12-11 00:05] #19 closed, assigned to fklassen

[2013-12-11 00:10] fklassen opened #23 "add flow statistics"
This counts number of unique flows in the pcap file. Report # flows and flows/sec. Multiply by # loops if --unique ID's specified.

[2013-12-11 00:14] fklassen opened #24 "add --l1-stats option"
Adds Layer 1 stats. Specifically it will add 14-18 bytes to the total for every Ethernet packet received.

[2013-12-13 00:11] #23 closed, assigned to fklassen

[2013-12-14 20:29] fklassen opened #26 "Does not compile on ARM"
Various issues including missing files on dist and failure to compile using methods of compiling from source.

[2013-12-15 07:34] #26 closed, assigned to fklassen

[2013-12-15 17:03] fklassen opened #28 "update netmap as per netmap author"
Luigi reviewed code and had some suggestions for improving paced performance. That is, endure that packets do not bunch up together when sending slower than maximum speed. His suggestions may also improve overall performance.

[2013-12-17 20:20] #28 closed, assigned to nobody

[2013-12-17 22:43] fklassen opened #30 "4.0beta1"
New milestone beta release

[2013-12-20 17:50] #30 closed, assigned to fklassen

[2013-12-22 11:33] fklassen opened #33 "Build fails on BSD"

[2013-12-22 14:57] fklassen opened #35 "-K option missing"
same as --preload-pcap

[2013-12-22 15:07] #33 closed, assigned to fklassen

[2013-12-22 17:22] #35 closed, assigned to fklassen

[2013-12-22 19:26] fklassen opened #38 "4.0.0beta2"
Found some bugs including inability to compile on BSD

[2013-12-22 20:58] #38 closed, assigned to fklassen

[2013-12-27 21:39] fklassen opened #39 "Small pcap files capacity too high"
Example of increasing `--loops` reduces capacity due to socket buffers not flushed.

[code]

[code]

[2013-12-27 21:57] fklassen opened #40 "4.0.0beta3"

[2013-12-29 05:06] fklassen opened #41 "Segmentation fault when specifying --dualfile and --preload-pcap"

[2013-12-29 05:09] #41 closed, assigned to fklassen

[2013-12-31 15:45] fklassen opened #42 "Merge Juniper Encapsulated Ethernet DLT support"
Originally from synfinatic/appneta master.

As per Mike Komer, may be difficult to test ....

The only devices I have access to are in a lab and controlled by lab d00ds. The Link Layer is EthernetII. I can try and find the folks responsible for the code and see what they use for test beds. As everyone is off for the next 5 days, blue flu is setting in around here so it might take a while.

[2014-01-02 16:49] fklassen opened #43 "Doesn't support ARM aarch64 in f19 and rawhide"
Reported in RedHat https://bugzilla.redhat.com/show_bug.cgi?id=926615

Sayeth Dennis Gilmore:

Support for the ARM 64 bit CPU architecture (aarch64) was introduced in
autoconf 2.69.  tcpreplay appears to use an earlier version of
autoconf, preventing its being built.  This can be fixed in of three ways (In order of preference):
1. Work with upstream to migrate the package to autoconf 2.69.
2. Reru

[2014-01-03 00:32] #43 closed, assigned to fklassen

[2014-01-03 20:10] fklassen opened #44 "Update flows report to include total flows and unique flows"
As per @abiryukov suggestion

[2014-01-03 23:58] #44 closed, assigned to fklassen

[2014-01-05 08:41] fklassen opened #45 "Seed tests fail."
[code]

[2014-01-05 08:52] #45 closed, assigned to fklassen

[2014-01-05 08:52] #42 closed, assigned to fklassen

[2014-01-05 17:16] #40 closed, assigned to fklassen

[2014-01-05 17:17] fklassen opened #47 "4.0.0"

[2014-01-07 20:03] #47 closed, assigned to fklassen

[2014-01-07 20:04] fklassen opened #48 "4.0.1"

[2014-01-08 19:20] fklassen opened #49 "netmap on igb driver slow"
With/without netmap results:

[code]

Get the following on the console log:

[code]

[2014-01-09 00:57] #49 closed, assigned to fklassen

[2014-01-09 17:29] fklassen opened #50 "Many compile warnings"

[2014-01-09 23:06] fklassen opened #51 "do_sleep() has static variables - non re-entrive"

[2014-01-10 00:24] fklassen opened #52 "--mbps has not effect on OS X"

[2014-01-10 03:29] #52 closed, assigned to fklassen

[2014-01-15 21:35] #50 closed, assigned to fklassen

[2014-01-15 21:36] fklassen opened #53 "Unable to compile/run latest netmap from Google Code"
Latest code is here http://code.google.com/p/netmap/

Appears that version 10 API causes build to break

[2014-01-15 21:37] #53 closed, assigned to fklassen

[2014-01-17 23:55] #48 closed, assigned to fklassen

[2014-01-18 00:06] fklassen opened #54 "Test hangs with `--mbps` option"
#51 587943af2fdf7dd814c7a9cfb1ff869d01620df2 breaks `--mbps` option

[2014-01-18 00:07] fklassen opened #55 "4.0.2"

[2014-01-18 00:23] #54 closed, assigned to fklassen

[2014-01-18 00:24] #51 closed, assigned to fklassen

[2014-01-22 07:26] cpackham opened #59 "Build error on host without tcpdump"
Hi,

I updated the tcpreplay version in buildroot[1] to 4.0.0 (will update to 4.0.2 shortly). While it built fine for me and others the automated build system started showing failures[2]. Eventually another developer figured out that if the host system didn't have tcpdump installed then the build would fail. Reproduction below
##

[1] - http://buildroot.org
[2] - http://autobuild.buildroot.net/res

[2014-01-29 13:30] #59 closed, assigned to nobody

[2014-01-30 10:02] tkarthick opened #61 "can tcpreplay used to send traffic bidirectional?"
i have 1000s of packet captures with client server communication.
i know tcpreplay supports to change source and destination ip according to our local setup.
Can it make the traffic flow in bidirection. i.e Client server communication.?
How to do the same?

[2014-02-03 23:45] #55 closed, assigned to fklassen

[2014-02-04 16:28] #61 closed, assigned to nobody

[2014-02-04 16:30] fklassen opened #62 "4.0.3"
Pick up build issues reported by users

[2014-02-11 18:31] fklassen opened #64 "DLT conversion and IP address conversion cannot be done in one pass"
As per mail list discussion:

Hi Aaron,
You're right, using /0 is not the right thing to do, but I started off using /32 and got increasingly desperate.

However, your suggestion seems to have made it work nicely. For the future archaeologists, here's what I did that worked:

tcprewrite  --infile=../pcap/sendfax.pcap --outfile=../pcap/mod_sendfax.pcap --dlt=enet
tcprewrite  --srcipmap=91.194.225.4

[2014-02-12 20:07] awick opened #65 "--stats displays bad values"
Not sure if this only happens with -t but --stats doesn't calculate the time correctly because end_time isn't initialized.

Actual: 193775 packets (120555946 bytes) sent in -1392234103.04 seconds.
Rated: 0.0 Bps, 0.000 Mbps, 0.00 pps

Probably could be fixed in send_packets.c with just "ctx->stats.end_time = now;" before calling packet_stats.  However wasn't sure if in non -t mode if end_time is u

[2014-02-19 15:28] fklassen opened #66 "netmap-libpcap not recognized"
According to Luigi Rizzo, [netmap-libpcap](https://code.google.com/p/netmap-libpcap) doesn't work. Here is his email to me...

there is one thing i wanted to mention:
netmap (and netmap-libpcap) now encode in the device name
all parameters of interest: whether it is a NIC, a VALE port
or a pipe, whether you want to access an individual queue
or the host stack or the master/slave side of a pipe, et

[2014-02-26 17:04] fklassen opened #67 "missing interfaces when using --listnics option"

[2014-02-26 17:10] fklassen opened #68 "compile fails with --enable-debug and --with-netmap configure options"

[2014-02-26 17:12] fklassen opened #69 "4.0.4"

[2014-02-26 17:33] #68 closed, assigned to fklassen

[2014-02-26 17:38] #65 closed, assigned to fklassen

[2014-02-26 17:44] #67 closed, assigned to fklassen

[2014-02-26 19:25] fklassen opened #70 "Send netmap packets to all available queues"
Found in the following article is a code example of a packet generator. Rather than sending packets in a single queue, this will send packets on all queues. This may improve performance. Worth a try.

http://info.iet.unipi.it/~luigi/papers/20110815-sigcomm-poster.pdf

[2014-02-27 18:37] fklassen opened #71 "Unable to compile on FreeBSD10"
[code]

[2014-02-28 16:35] #71 closed, assigned to fklassen

[2014-02-28 16:43] #66 closed, assigned to fklassen

[2014-03-10 16:21] fklassen opened #74 "Fail if interface specified is actually a file or directory"
As reported...

The problem, in a nutshell:

[code]

Also ...

[code]

[2014-03-12 23:22] fklassen opened #75 "Unexpected packet counts with --loop and --cachefile enabled"
From Thomas McMurphy:

Version information (output of -V)
tcpreplay version: 4.0.3 (build git:v4.0.3)
Copyright 2013-2014 by Fred Klassen <tcpreplay at appneta dot com> -
AppNeta Inc.
Copyright 2000-2012 by Aaron Turner <aturner at synfin dot net>
The entire Tcpreplay Suite is licensed under the GPLv3
Cache file supported: 04
Not compiled with libdnet.
Compiled against libpcap: 1.5.3
64 bit packet

[2014-03-21 11:20] ulyssess opened #76 "Number of packets is Inaccurate when use --netmap method"
Version information (output of -V)
tcpreplay version: 4.0.3 (build git:v4.0.3)
Copyright 2013-2014 by Fred Klassen <tcpreplay at appneta dot com> - AppNeta Inc.
Copyright 2000-2012 by Aaron Turner <aturner at synfin dot net>
The entire Tcpreplay Suite is licensed under the GPLv3
Cache file supported: 04
Not compiled with libdnet.
Compiled against libpcap: 1.4.0
64 bit packet counters: enabled
Verb

[2014-03-21 17:04] #62 closed, assigned to fklassen

[2014-03-22 17:05] #76 closed, assigned to fklassen

[2014-03-22 18:03] #64 closed, assigned to fklassen

[2014-03-22 18:06] #70 closed, assigned to fklassen

[2014-03-22 19:20] #74 closed, assigned to fklassen

[2014-03-22 22:35] #75 closed, assigned to fklassen

[2014-03-25 15:06] fklassen opened #78 "V 4.0.4 does not compile on FreeBSD 8.4"
According to Emanuel Haubt:

I tried to update the FreeBSD port from version 4.0.3 to 4.0.4 which
works fine on FreeBSD 9.2 and 10.0 but unfortunately fails on 8.4 with
the following error:

http://critical.ch/people/tcpreplay/tcpreplay-4.0.4.log

[2014-04-04 18:52] #69 closed, assigned to fklassen

[2014-04-04 18:55] fklassen opened #79 "Bidirectional replay with netmap locks up tcpreplay"
As reported by Thomas McMurphy...

[code]

[2014-05-15 16:20] emihmoz opened #80 "-F pad -> segfault"
If I want to play out a truncated pcap file ("snaplen" field is small in global header) with padding, the memset function in edit_packet.c:line 283 writes beyond to the end of the mallocated area.
This is because the libpcap library mallocates memory only for the captured length, not for the original length of the package, however, it is not clearly documented by them.
Details and link for the exa

[2014-05-24 15:14] fklassen opened #81 "Does not compile PF_RING DNA version of libpcap"
As per Luca Deri, the patch below should allow wire-rate TX with PF_RING DNA via the following sample command:

[code]

[code]

[2014-05-29 19:00] fklassen opened #82 "unable to replay pcapng trace"
As per http://ask.wireshark.org/questions/33137/unable-to-send-packet-using-tcpreplay?

[code]

[2014-06-10 17:31] fklassen opened #83 "Fedora: segfault in tcpreplay"
as per https://bugzilla.redhat.com/show_bug.cgi?id=1102507

[2014-06-11 17:23] dogbert2 opened #84 "[PATCH] missing sanity check in TCP Replay."
Hello All,

   In reviewing code in tcpreplay-4.0.4, in directory 'compat', I found
some instances where calls to malloc() are not checked for a return
value of NULL, indicating failure.  This is in file 'pathfind.c' and
the patch file below adds the sanity check:

[code]

I am attaching the patch file to this bug report.

Bill Parker (wp02855 at gmail dot com)

[2014-06-17 15:58] abiryukov opened #85 "Max replay rate for all loops except first when omitting --mbps option"
1. run: `tcpreplay -i eth6 --loop=3 bigFlows.pcap`
##### Expected

this capture file has original rate ~10Mbps and duration ~300s. With 3 loops it should produce ~900s of replay at ~10Mbps
##### Actual

first loop is done at the file's original rate. All loops after that - at max rate

[code]

[2014-06-18 15:02] cvcrckt opened #86 "Packet summary wording is misleading"
tcpreplay version 4.04: The "Actual" line in the summary output after playing a pcap or set of pcaps is misleading.  It implies an actual number of packets sent and an actual total size sent, when in reality it seems to be tied to the time it took to send the packets.

I have 2GB of pcaps in two forms: A is a single 2GB pcap.  B is a directory of 36 smaller pcap files, adding up to 2GB total.  Out

[2014-06-19 00:12] fklassen opened #87 "Packet goes back in time on --loop command"
As per note from user mailing list

[code]

[2014-06-19 17:37] #87 closed, assigned to fklassen

[2014-06-19 19:16] #85 closed, assigned to fklassen

[2014-06-19 20:54] fklassen opened #90 "Patch that should be reviewed"
Found but not tested

http://permalink.gmane.org/gmane.comp.lib.uclibc.buildroot/87309

[2014-06-26 18:30] kustom-dean opened #92 "Ability to portmap multiple sets of ports"
Currently, tcpreplay-edit can only map one or more ports in a pcap file to a single port.

It would be a very useful packet generation feature, if tcpreplay-edit could specify more than one set.

I was hoping to do this in a script, randomizing the TCP/UDP ports, replaying at high rates of speed, and repeat many times with new ports, for stress-testing of a layer 4 analyzer. This doesn't work quit

[2014-07-08 16:21] fklassen opened #93 "netmap potential optimizations"
From pkt-gen source review it appears that sending a maximum of 1024 packets before calling poll helps with synchronization, and therefore improves performance. We should try this.

[2014-07-21 21:40] #78 closed, assigned to fklassen

[2014-07-21 21:52] #82 closed, assigned to fklassen

[2014-07-21 23:36] #83 closed, assigned to fklassen

[2014-07-21 23:47] #90 closed, assigned to nobody

[2014-07-22 14:11] fklassen opened #96 "netmap hangs if interface is down"
If this cannot be fixed, the status should be checked for "Running" status before entering netmap TX routine

[2014-07-22 15:37] #86 closed, assigned to fklassen

[2014-07-22 16:47] #80 closed, assigned to fklassen

[2014-07-22 16:54] rcaputo opened #99 "a particular packet segfaults tcprewrite"
Replays seem to run at max speed regardless which timer I use, now that abstime is not available.

I built 4.0.4 for OS X Mavericks, via homebrew.  The build options can be reviewed at https://github.com/Homebrew/homebrew/blob/master/Library/Formula/tcpreplay.rb

I removed --timer=abstime from my scripts, per the deprecation.

My test pcap spans 30 minutes.  tcpreplay replays it in 17 seconds.  I

[2014-07-22 16:58] #84 closed, assigned to fklassen

[2014-07-22 18:00] #96 closed, assigned to fklassen

[2014-07-23 01:38] #79 closed, assigned to fklassen

[2014-07-23 14:10] fklassen opened #103 "netmap hangs on FreeBSD 11"
As per @yaoyj11

[code]

[2014-07-23 23:30] morphyno opened #104 "tcpbridge does not seem to work with PF_RING's libpcap"
Hi:

I have downloaded 4.0.4 with the latest PF_RING changes from the repo on configure and configure.a (patch #88 )

My goal is to compile and tcpbridge using the libpcap included in the PF_RING distribution.

I was able to configure and make tcpreplay and tools using the following configure line

./configure --with-libpcap=/home/devuser/Documents/PF_RING/userland/libpcap-1.1.1-ring/ --with-tcpdu

[2014-07-24 19:40] fklassen opened #105 "Flow count should report bidi and unidirectional flows"
We are reporting 2 direction (bidi) flows. Usually there are 2 flows exported per socket. Tcpreplay should report both.

[2014-07-27 02:55] fklassen opened #106 "netmap should be version agnostic"
Problem arises when Tcpreplay is compiled on one machine then run on another. This is controlled by the "NETMAP_API" parameter, which is currently at version 11. If you compile Tcpreplay on version 11, it will not run on a machine that has a version 10 netmap driver installed.

This also happens with FreeBSD. FreeBSD 8.4 have it's NETMAP_API set to 0. FreeBSD 10 has NETMAP_API set to 4.

Tcpreplay

[2014-07-27 23:58] #103 closed, assigned to fklassen

[2014-07-28 00:06] #106 closed, assigned to fklassen

[2014-07-28 00:07] #105 closed, assigned to nobody

[2014-07-28 17:52] fklassen opened #108 "netmap.h missing from tcpreplay 4.0.5 beta1 distribution"
Causing compile issues on Linux when building with netmap

[2014-07-28 18:11] fklassen opened #109 "Running test to an interface with an unplugged interface produces invalid results"
For example, this adapter is not in "RUNNING" status because of an unplugged interface.

[code]

results in ..

[code]

[2014-07-28 18:35] fklassen opened #110 "kernel messages when running netmap"
examples:

[code]

and

[code]

[2014-07-29 18:36] #108 closed, assigned to fklassen

[2014-07-29 18:37] #110 closed, assigned to nobody

[2014-07-30 16:34] #99 closed, assigned to fklassen

[2014-07-30 16:37] fklassen opened #113 "vale interfaces does not fail properly when unconfigured"
I finally have a vale interface on Fedora 10. I'll try to figure out why it isn't working properly. Should get proper error message when accessing unconfigured interface vale:igb0.

[2014-07-30 19:00] #113 closed, assigned to fklassen

[2014-08-02 20:27] fklassen opened #115 "Poor performance on FreeBSD 11 and netmap"
According to @yaoyj11 in #106, FreeBSD 10 is OK but FreeBSD11 isn't.

[2014-08-09 15:29] #81 closed, assigned to fklassen

[2014-08-12 22:01] fklassen opened #117 "Need to test PF_RING performance"
Have tested with PF_RING only, but that is not optimized for TX. Must test latest PF_RING/DNA/ZC including ixgbe drivers. Should get 10GigE full wire rate (9570Mbps) on TX.

[2014-08-12 23:31] fklassen opened #118 "Unable to use Zero Copy interfaces on PF_RING"

[2014-08-13 01:27] #118 closed, assigned to nobody

[2014-08-15 00:22] morphyno opened #120 "can not seem to run tcpreplay with an netmap interface at the same as tcpdump running a netmap interface"
I'm running an instance of tcpreplay playing a pcap through a netmap enabled interface

sudo taskset -c 5 sudo tcpreplay --netmap -i eth16 -tK /tmp/gre_ipv4.pcap

Just by itself, i can get close to 10G

I'm also running tcpdump (with netmap-libpcap) on an ingress port

sudo taskset -c 3 sudo tcpdump -s 0 -nei netmap:eth17 proto gre -w /mnt/tmpfs/gre_ipv4.pcap -B 1048576

Again, by itself, I can ge

[2014-08-20 16:10] #104 closed, assigned to fklassen

[2014-08-21 00:07] rtpbusr opened #121 "netmap checksum offload"
Please let me know how to make netmap support chksum offload feature in NIC

[2014-08-21 04:37] #121 closed, assigned to nobody

[2014-09-05 16:13] fklassen opened #123 "netmap API version 11 does not compile"
[code]

[2014-09-05 20:51] #123 closed, assigned to fklassen

[2014-09-08 19:44] morphyno opened #124 "tcpreplay 4.0.5 hangs with netmap on Ubuntu 14.04"
Just updated to 4.5.3 and noticed the following while trying to send a pcap, see dmesg and stacktrace below

[  601.714040] 181.032508 [ 249] ixgbe_netmap_txsync       TDH wrap 512
[  601.714050] 181.032517 [ 249] ixgbe_netmap_txsync       TDH wrap 512
[  601.714059] 181.032527 [ 249] ixgbe_netmap_txsync       TDH wrap 512
[  601.714069] 181.032536 [ 249] ixgbe_netmap_txsync       TDH wrap 512
[

[2014-09-09 00:52] #124 closed, assigned to nobody

[2014-09-16 00:13] morphyno opened #125 "Is it possible to configure a delay between loop?"
I'm interested in playing a pcap in a burst mode, so I would like to have a way to configure a delay (us to ms). Is it possible to do this through tcpreplay? If not, can this be a feature request for future releases?

[2014-09-16 04:15] SandyVaughan opened #126 "configure error: we need either inet_ntop or inet_pton"
I am using Cygwin in Windows 8 to configure tcpreplay.

Downloaded and extracted master tarball
Installed

Entered into the Cygwin environment
navigate to location of files
./configure --with-libpcap=/wpdpack --enable-debug

quiet a few libraries are found, and then it cannot find inet_aton, inet_pton and inet_ntop
partial display below:

checking for strsignal... no
checking for strlcpy... no
che

[2014-09-17 09:23] faxm0dem opened #127 "Question: Building with fragroute support"
How do you get fragroute to compile on modern systems? I seem to be having trouble on a recent Debian with libevent

[2014-09-17 14:29] #127 closed, assigned to nobody

[2014-09-17 15:37] fklassen opened #128 "tcpreplay 4.0.5 won't configure on CentOS EL6"
As per Wayne Marsh:

[code]

also

[code]

[2014-09-18 17:35] abiryukov opened #129 "unable to interrupt replay started with infinite loops using Ctrl-C"
1. start tcpreplay with 0 loops specification, indicating "repeat forever", e.g.
   tcpreplay -i eth0 -l 0 pcaps/bigFlows.pcap
2. after started press Ctrls-C

Actual results:
^C User interrupt...
sendpacket_abort

as a workaround need to kill tcpreplay process from another shell

version info:
tcpreplay version: 4.0.5-beta2 (build git:v4.0.5beta2)
Copyright 2013-2014 by Fred Klassen <tcpreplay at

[2014-09-19 01:10] morphyno opened #130 "low tcpreplay performance with large number of tcpflows"
It seems tcpreplay (with netmap) is signficantly slower vs 1 flow

Below is a pcap with average packet size of 500 bytes, the maximum i've been able to achieve has been 4.6 Gbps

trafficLibrary/pcapLib$ sudo taskset -c 2 sudo tcpreplay --netmap -i eth8 -t -K -l 10 test.pcap
Switching network driver for eth8 to netmap bypass mode... done!
File Cache is enabled
Actual: 45172930 packets (4491766990 b

[2014-09-19 17:52] #130 closed, assigned to nobody

[2014-09-23 18:10] #120 closed, assigned to nobody

[2014-09-24 20:18] morphyno opened #131 "Large number of "Retried packets (ENOBUFS)""
This is more of a question, I'm noticing my system is not able to send all the packets at high rate. I'm wondering if this is something  I can tweak from the driver side

sudo tcpreplay -i eth8 -M 9000 -K -l 10 tra
fficLibrary/pcapLib/1500.pcap
File Cache is enabled
Actual: 14195990 packets (21237201040 bytes) sent in 18.08 seconds.
Rated: 1124999346.5 Bps, 8999.99 Mbps, 752004.91 pps
Flows: 1 flo

[2014-09-24 20:22] #131 closed, assigned to nobody

[2014-09-26 09:34] sh-vi opened #132 "segfault in tcpliveplay on x86_64"
When I try to launch a tcpliveplay on x86_64 systems it always crashes:

[code]

I've tried this on Fedora 20 (libpcap-1.5.3), RHEL6 (libpcap-1.0.0) and RHEL5 (libpcap-0.9.4). And I've also compiled tcpliveplay with the latest libpcap-1.6.2. Crash occurres [here](https://github.com/appneta/tcpreplay/blob/v4.0.5/src/tcpliveplay.c#L420):

[code]

i386-i686 version works fine.

[2014-09-27 17:35] fklassen opened #133 "Add a C/C++ library to access tcpreplay etc."
As per http://stackoverflow.com/questions/26034768/how-to-add-tcpreplay-as-a-library-in-c-language-or-any-other-programming-languag

[2014-09-29 18:38] fklassen opened #136 "Add a Linux kernel module that is driver independent and easy to compile"
Currently netmap and PF_RING are supported, but they are difficult to deploy and are driver independent. This research project investigate the possibility of compiling an enhanced kernel module from kernel headers, eliminating the need to download full kernel source code. Also, this module should be as fast as other techniques without reliance on network driver modifications.

The goal is to produ

[2014-10-10 21:47] aindeev opened #140 "Fix cross compiling for tcpreplay"
Cross compiling currently fails, the configure scripts will need to be fixed

[2014-10-10 23:31] #140 closed, assigned to nobody

[2014-10-14 21:34] #136 closed, assigned to nobody

[2014-10-15 15:52] fklassen opened #144 "When printing stats and looping, Ctrl-C no longer works with 4.1.0 beta 1"
As per Pekka Pietikäinen:

[code]

[2014-10-15 17:39] aindeev opened #145 "Tcpreplay cannot find libpcap on CentOS 7"
After installing a minimal CentOS 7 an trying to compile tcpreplay, I ran into the following error:

`configure: error: libpcap not found`

Even though package `libpcap-1.5.3-3.el7.x86_64` was already installed and libplcap files were to be found in `/usr/lib64/libpcap.so.1`

[2014-10-15 18:24] #145 closed, assigned to nobody

[2014-10-15 20:03] aindeev opened #146 "CentOS 6.5 Kernel Panic on quick tx module init"
CentOS 6.5 with linux kernel 2.6.32 has a panic when the quick_tx module is initialized.
The problem happens when we try to create a `kmem_cache`, with the same name a the `kmem_cache` created in `/dev/net/skbuff.c`

[2014-10-17 18:27] aindeev opened #147 "Build in full virtio_net support for quick_tx"
For now, virtio_net support has been disabled inside quick_tx because there does not seem to be any speed increase and there are too many kernel verison compatibility problems due to how virtio_net clears old skbs

This issue can be used to track the progress, and when support for virtio_net is refined it will be put back in

[2014-10-17 19:08] #146 closed, assigned to nobody

[2014-10-17 19:10] #128 closed, assigned to fklassen

[2014-10-17 19:23] #129 closed, assigned to fklassen

[2014-10-17 19:23] #144 closed, assigned to nobody

[2014-10-17 22:54] #132 closed, assigned to fklassen

[2014-10-22 19:21] leonexis opened #153 "Warn user if trying to replay a pcap file in raw IP format"
This really isn't a bug, more of a request. I was using the iCTF2010 pcap recording of that conference. I did not realize this at first, but that file is in Raw IP format, so it contains no L2 information. `tcpreplay` will happily play those packets over the network without the L2 information. Since `tcpdump` can determine the type of pcap file it is, it might be easy to at least warn the user tha

[2014-10-25 16:50] fklassen opened #154 "Build cleanup - less verbose and remove unnecessary build files"
It would be nice to have less verbose build, unless `make V=1` is specified.

Also, the following files are auto-built so they should be removed from repo:

[code]

[2014-10-25 17:13] #154 closed, assigned to fklassen

[2014-11-12 20:39] aindeev opened #157 "Disable building quick_tx by default"
We currently build and install quick_tx by default, but that may not be what most users want. The task is to disable it by default and replace `--disable-quick-tx` configure flag with `--enable-quick-tx`

[2014-11-15 14:54] dcb314 opened #159 "tcpreplay_api.c:959: bad test ?"
tcpreplay_api.c:959:40: warning: logical not is only applied to the left hand side of comparison [-Wlogical-not-parentheses]

[code]

A possible duplicate:

tcpprep_api.c:450:34: warning: logical not is only applied to the left hand side of comparison [-Wlogical-not-parentheses]

[2014-12-10 19:49] SiGe opened #160 "Netmap, 4 seconds is not enough."
Hello,

We are running tcpreplay with netmap.  It seems like that sometimes [waiting for 4 seconds](https://github.com/appneta/tcpreplay/blob/master/src/common/netmap.c#L422) is not enough.  In our case I had to increase this wait to 10 seconds before the NIC was ready to accept packets.  Maybe you could accept an option from the user, similar to pkt-gen's -w option, that specifies this wait time?

[2014-12-17 19:24] #126 closed, assigned to nobody

[2014-12-17 19:30] #160 closed, assigned to nobody

[2014-12-17 19:35] #159 closed, assigned to fklassen

[2014-12-17 20:56] fklassen opened #164 "quick TX breaks BSD/OS X builds"
attempts to build Linux kernel stuff

[2014-12-17 21:04] #164 closed, assigned to fklassen

[2014-12-17 21:04] #125 closed, assigned to nobody

[2014-12-17 21:52] davinerd opened #167 "Buffer overflow bug"
I'm trying to use tcpprep on the pcap taken from the Honeynet Challanges ([this one](http://www.honeynet.org/node/504)).
I've compiled the stable version from the website into a Kali Linux distro.
Here is the backtrace: [http://pastebin.com/wuQcRJEu](http://pastebin.com/wuQcRJEu).

If you need more information, please let me know.

[2014-12-17 22:20] #157 closed, assigned to nobody

[2015-01-05 22:30] morphyno opened #168 "netmap crash with tcpreplay"
Not sure if this is a netmap or tcreplay issue. I came across this while running tcreplay 4.0.5.

Had to reboot the machine to recover.

	Jan  2 12:49:51 UTraffic22 kernel: [2581528.462246] device em1 left promiscuous mode
	Jan  2 15:11:19 UTraffic22 kernel: [2590022.510916] kernel tried to execute NX-protected page - exploit attempt? (uid: 0)
	Jan  2 15:11:19 UTraffic22 kernel: [2590022.513238] B

[2015-01-05 22:46] fklassen commented on #168
From the call stack, it appears to be coming from an interrupt, and not touching any tcpreplay code. I suggest posting the trace on the [netmap](https://code.google.com/p/netmap/issues/list) support site.

[2015-01-05 22:46] #168 closed

[2015-01-07 20:01] morphyno opened #169 "Is quick_tx formally supported for ixgbe?"
I just installed 4.1.0 and ran some tests using "quick_tx" mode over ixgbe. I noticed quick_tx is actuall slower than regular

[code]

Looking the quick_tx source, I noticed they are only for e1000 and virtio, does it mean quick_tx is not formally supported with ixgbe?

[2015-01-08 17:07] fklassen commented on #169
All adapters should be supported by quick-tx. I thought that we were getting full-wire rate with ixgbe. I'll mark this as a bug and try to dig into it.

[2015-01-09 15:29] duanehoward commented on #169
I'm also seeing this with ixgbe. When trying to use qtx with ixgbe, dmesg fills up with errors like the following:
[72255.119287] [quick_tx] INFO:  Device registered: /dev/net/quick_tx_lo --> lo
[72255.119413] [quick_tx] INFO:  Device registered: /dev/net/quick_tx_eth4 --> eth4
[72255.119566] [quick_tx] INFO:  Device registered: /dev/net/quick_tx_eth5 --> eth5
[72255.119696] [quick_tx] INFO:  Devi

[2015-01-09 16:21] fklassen opened #171 "quick_tx crash with ixgbe"
As reported by @daunehoward - moved from #169  ..

I'm also seeing this with ixgbe. When trying to use qtx with ixgbe, dmesg fills up with errors like the following:

[code]

[2015-01-09 16:23] fklassen commented on #169
@duanehoward

I am moving your issue to #171 and removing it from this thread. You are reporting a new bug.

[2015-01-09 16:27] fklassen commented on #171
@duanehoward

Is this issue easily recreated? Does it fail every time? We have not seen this before.

Also, what is the "bond0" interface?

[2015-01-09 17:05] duanehoward commented on #171
yes. it is easily recreated (every time I run).
bond0 is a bond of eth0 and eth1 on the system.

[2015-01-09 17:21] fklassen commented on #171
Hmmm .. sounds like the bond is causing it.

* can you try disabling the bond?
* also can you give me info on how to create a bond? Any article of example config file?

[2015-01-09 17:31] duanehoward commented on #171
I'll test with the bond disabled in a couple of hours. In the mean time, this looks similar to what we normally do for our configurations:
https://help.ubuntu.com/community/UbuntuBonding

[2015-01-09 20:35] duanehoward commented on #171
Disabling the bond seems to have resolved this. I removed the bonding module, and the bonding configs, upped the interface again and tried using qtx:eth0 versus eth0.
sudo tcpreplay -i qtx:eth0 -tK --loop 3 ~/myfile.pcap
9289.59 Mbps

sudo tcpreplay -i eth0 -tK --loop 3 ~/myfile.pcap
6023.31 Mbps

It could be helpful if bonded interfaces could be supported, assuming this is the problem.

[2015-01-09 21:28] fklassen commented on #171
Thanks. We should be able to support bond interfaces, so I'll try to recreate it next time I work in this area.

[2015-01-09 22:19] duanehoward commented on #171
Thanks Fred. I think I spoke too soon. For a single small-ish pcap (1.5G) this seems to work, If I start looping using cache it seems to throw the card into a chaotic state... See below, looks the same as the initial report. Bonding is not loaded, etc.

[18376.782717] WARNING: CPU: 15 PID: 0 at /build/buildd/linux-lts-trusty-3.13.0/net/sched/sch_generic.c:264 dev_watchdog+0x267/0x270()
[18376.7827

[2015-01-09 22:23] duanehoward commented on #171
by the way this is on two different machines, different Dell hardware models, etc. so it should be reproducible. The card in both machines is:
Intel Corporation Ethernet Controller 10-Gigabit X540-AT2 (rev 01)

[2015-01-12 16:31] fklassen commented on #171
Thanks. It appears that we have some stability issues that need to be looked at.

[2015-01-12 19:50] duanehoward commented on #171
Just an additional data point (again with no bonds) using the same driver, but a different card (Intel 82599EB Fiber) seeing the same issue. Please let me know if there's any additional data I can provide to assist.

[2015-01-14 17:20] lancasrj opened #172 "4.1 max bitrate on loop"
As of version 4.1.0 running the following command:
tcpreplay -i eth0 -l 0 capture.pcap

The first time through everything plays as expected.  Upon looping the bitrate jumps to the maximum rate for the interface and the following message is repeated in the log:

Warning: Packet #9513 has gone back in time!
Warning: Packet #9514 has gone back in time!
Warning: Packet #9515 has gone back in time!
War

[2015-01-21 19:11] morphyno opened #173 "Extra packets sent with "-L" option"
I'm always noticing an "extra" packet sent when using the "-L" option. Also, this packet is always an malform packet.

sudo /usr/local/bin/tcpreplay --netmap -i eth6 -L 1000 -tK rx_stc_sig.pcap
Switching network driver for eth6 to netmap bypass mode... done!
File Cache is enabled
Actual: 1001 packets (60060 bytes) sent in 0.000449 seconds.
Rated: 133763919.8 Bps, 1070.11 Mbps, 2229398.66 pps
Flows

[2015-01-22 17:01] fklassen commented on #173
Thanks for reporting. I hope to schedule shortly.

[2015-01-26 17:29] duanehoward commented on #171
Friendly ping?

[2015-01-26 18:26] fklassen commented on #171
Hi Duane. It will be a couple weeks before I will be able to test this out on ixgbe adapters. Also, the author of this code is a student and is busy with school work, so it will take a bit of time for me to get up-to-speed on his code.

[2015-01-26 18:38] duanehoward commented on #171
Thanks for the update Fred, please let me know if you need any additional details from our side.

[2015-01-29 19:06] morphyno commented on #171
I'm also observing quick_tx crash with CentOS 6.5 and e1000e driver. Not sure if the issues are related. Below is a stacktrace, @fklassen ,should i open a separate issue?

[quick_tx] INFO:  Device registered: /dev/net/quick_tx_lo --> lo
[quick_tx] INFO:  Device registered: /dev/net/quick_tx_maint0 --> maint0
[quick_tx] INFO:  Device registered: /dev/net/quick_tx_eth7 --> eth7
[quick_tx] INFO:  Dev

[2015-01-29 19:08] morphyno commented on #171
It seems the e1000e issue is related to having pf_ring.ko also loaded at the same time, I removed pf_ring.ko and reloaded quick_tx, no errors this time.

[PF_RING] Module unloaded
[quick_tx] INFO:  Removing QuickTx device /dev/net/quick_tx_lo
[quick_tx] INFO:  Removing QuickTx device /dev/net/quick_tx_maint0
[quick_tx] INFO:  Removing QuickTx device /dev/net/quick_tx_eth7
[quick_tx] INFO:  Removin

[2015-01-29 19:09] duanehoward commented on #171
I have experienced this both with pf_ring loaded and unloaded, however this *is* a pf_ring enabled driver...

[2015-02-03 15:54] rdiggz commented on #172
Hello,

Im new to tcpreplay but i have been given the task to get 8 captures to play on CentOS 6.6. I am having this same issue. If I play the captures on Ubuntu server 14.04, i do not get the error. There is also a big CPU usage difference between the 2 but thats another issue.

I was check to see if there is any update on this?

Thank you for your time and great work!

[2015-02-03 23:07] morphyno opened #176 "Playing pcap on 10G link, reports speeds faster than 10Gbps using netmap"
Its reporting 12135.32Mbps (12Gbps), which is way above the 10G interface

sudo /usr/bin/taskset -c 9 sudo /usr/bin/tcpreplay --netmap -i eth12 -tK /home/test.pcap
0.1422650785033.pcap
Switching network driver for eth12 to netmap bypass mode... done!
File Cache is enabled
Actual: 10943967 packets (4065006046 bytes) sent in 2.06 seconds.
Rated: 1516915559.6 Bps, 12135.32 Mbps, 4083898.92 pps
Flows:

[2015-02-03 23:20] fklassen commented on #176
I think I have seen this with netmap. The netmap driver absorbs the packets, and has no mechanism for reporting when the packets have actually left the NIC. This only appears when using relatively small amounts of traffic on relatively high-capacity links. Can you try the same test with say `--loop 100` and send me a screenshot? I believe that a 2 second traffic burst is too difficult to quantify

[2015-03-18 19:26] duanehoward commented on #171
Any updates on this?

[2015-03-25 14:43] fklassen opened #177 "Cannot compile netmap"
From direct email to me ...

I saw your video of building netmap, but have failed to produce any working build due to rejected patches or other problems.
Are you aware of any instructions for building netmap that actually work with the latest netmap code and latest CentOS or Ubuntu version?
I did see a comment that you had used Ubuntu 14 for your video, is this correct?  I see a “3.1.10” directory

[2015-03-25 14:55] fklassen commented on #177
The trick with compiling NetMap is that it requires the entire kernel source, not just kernel headers. So, this will not work:
[code]

The following does work because I am referencing the source code for the running kernel (in my case Linux version 3.10.33):
[code]

[2015-03-25 15:16] fklassen commented on #171
Not yet. quick_tx is not my code, and it may be a while before I can get my head around the code enough to fix this. I'll try to get to it, but for now quick_tx is on the back burner.

[2015-03-30 21:05] eapster123 commented on #177
Hi
I did finally get everything compiled everything successfully after moving from CentOS 7 to Ubuntu 14.04.2 LTS
But now I can't get tcpreplay run in a reliable fashion:

tcpreplay --netmap -t -i p1p1 1.pcap
Switching network driver for p1p1 to netmap bypass mode... failed!
 Switching network driver for p1p1 to normal mode...
Fatal Error: failed to open device p1p1: interface p1p1 is not running

[2015-03-30 21:56] eapster123 commented on #177
I think I figured this out, the default of 4 seconds wasn't enough for the interface on the switch to come back up.  I'm now using "--nm-delay=15" and it seems to work.  I did change it to an "edge" (portfast), port, but it is still takes longer than 4 seconds to become operational.

[2015-03-31 15:50] fklassen commented on #177
Glad you found it. You are the second one to report this. I will leave this open and consider increasing the delay slightly.

Any idea what the minimum reliable delay is?

[2015-03-31 21:23] eapster123 commented on #177
According to this, the entire down/up cycle is 34 seconds, but I have been successful using --nm-delay set to 15 seconds.

2015 Mar 31 14:18:12 SW %ETHPORT-5-IF_DOWN_LINK_FAILURE: Interface Ethernet1/9 is down (Link failure)
2015 Mar 31 14:18:46 SW %ETHPORT-5-SPEED: Interface Ethernet1/9, operational speed changed to 10 Gbps
2015 Mar 31 14:18:46 SW %ETHPORT-5-IF_DUPLEX: Interface Ethernet1/9, oper

[2015-04-01 14:26] fklassen commented on #177
Thanks for the update.

That is crazy long. I don't think I can change defaults to accommodate your situation. Eventually we want to get `quick_tx` feature stable, which is much easier to install and does not require a reset. It compile on most systems without requiring kernel source.

 I will close this as "info" status so others can reference your situation.

[2015-04-01 14:26] #177 closed

[2015-04-17 10:40] idl0r opened #178 "Regression: --with-testnic* broken as of 4.0.5"
Hi,

the above mentionend options (--with-testnic=/--with-testnic2=) makes it impossible to specify any interfaces at all:

[code]

It doesn't matter what interface you pass, it always fails and throws this error.
This happens as of 4.0.5.

See also:
https://bugs.gentoo.org/show_bug.cgi?id=546762

[2015-04-17 15:44] fklassen commented on #178
This works for me, so I suspect that there is something wrong with the version of libpcap used. Tcpreplay simply calls its `pcap_findalldevs()` function, and if the interface does not show up, it cannot test to it. If 4.0.4 worked, I suspect it was compiled to a different version of libpcap.

I have trouble understanding the resolution description for the bug reported on Gentoo Bugzilla. Am I miss

[2015-04-17 16:04] idl0r commented on #178
Hi Fred,

```./configure --enable-dynamic-link --with-testnic2=lo --with-testnic=lo```
...
[code]

Without those two options it works as expected. I'm not sure if and how pcap_findalldevs() is related.

[2015-05-11 22:14] fklassen opened #180 "Unable to get `--fragroute` option to work with tcpreplay-edit"
Library versions built and used:
        Libdnet-1.11
        Libpcap-1.6.2
        Libevent-2.0.22
        Fragroute-1.2
        Tcpreplay-4.1.0
FYI: tcpreplay was configured with: ./configure --enable-dynamic-link

Version info for built tcpreplay & tcpreplay-edit :

        # tcpreplay -V

        tcpreplay version: 4.1.0 (build git:v4.1.0)
        Copyright 2013-2014 by Fred Klassen <tcpreplay

[2015-05-15 08:38] ipoerner opened #181 "tcpreplay 4.1.0 autoconf fails upon first attempt on Ubuntu 14.04"
I am trying to compile the tag `v4.1.0` in the following (clean) environment:

    $ lsb_release -a
    No LSB modules are available.
    Distributor ID: Ubuntu
    Description:    Ubuntu 14.04.2 LTS
    Release:    14.04
    Codename:   trusty

    $ uname -a
    Linux f1be166eb699 3.13.0-49-generic #83-Ubuntu SMP Fri Apr 10 20:11:33 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

All installation instr

[2015-05-15 08:40] ipoerner commented on #181
The same applies to the `master` branch btw.

[2015-05-15 14:03] fklassen commented on #181
You should download tcpreplay.tar.gz from [here](https://github.com/appneta/tcpreplay/releases) unless you want to develop. It will have the 'configure' script. If you want to develop, you will need to install autogen tools version 5.16.2. Unfortunately autogen is very version sensitive, which makes it difficult to create 'configure'. Best to get the distribution version of the sources.

Also you

[2015-06-01 21:08] fklassen opened #182 "Need to upgrade `autogen` to match newer distributions"
I'm building up a modern development environment on a new MacBook with Debian 8 VM. I find it difficult to set up `autogen` for Tcpreplay development. So, I will attempt to upgrade Tcpreplay to match newer distributions.

[2015-06-03 08:29] cjthedj opened #183 "quick_tx kernel freeze with i40e driver"
Apologies if this is the same bug as #171 with a different card and driver.
I am attempting to run tcpreplay at 10G on a centos 6.4 box using quick_tx.
I am running on an Intel 710 card with VERY recent i40e drivers.
I was getting variable performance (from 5G to 10G) so I ran the following loop to try to get to the bottom of it.

[code]

All the extra stuff is to lock the processes to two cpus I

[2015-06-03 14:26] fklassen commented on #183
Thanks for the detailed info.

I'm interested in the fact that the PTP clock is not working. It is probably disabled in the kernel. Is this a custom kernel? If not, there may be an issue running this on CentOS.

I don't have Intel 710 adapters yet, and I don't use CentOS. I also will have to sit down for a week or so and get familiar with the quick_tx project so I can support it. Hopefully I can g

[2015-06-03 15:29] cjthedj commented on #183
The PTP clock failures are only reported about once in 20 loops. Most loops run at 10G with nothing reported in the logs.
  I'm also noticing that your smallflows.pcap is about the only pcap file I can get to run anywhere near 10G. IT would appear that it needs an average size of around 650 bytes and  a low percentage of small (<80) byte packet for 10G with quick_tx.

[2015-06-04 21:15] cwitter commented on #66
When running netmap-libpcap configure doesn't work on 4.1.0:

Error:
configure: error: Unable to link libpcap in /usr/local

[2015-06-04 21:31] cwitter opened #184 "FreeBSD 10 netmap-libpcap configure errors tcpreplay 4.1.0"
Running FreeBSD 10 p10 with Netmap Kernel and netmap-libpcap installed. Running configure one tcpreplay  4.1.0 errors out:

checking for library containing nl_handle_alloc... no
checking for numa_available in -lnuma... no
checking for pthread_create in -lpthread... yes
checking for library containing pcap_get_pfring_id... no
checking for library containing pcap_close... no
configure: error: Unable

[2015-06-05 06:51] cjthedj commented on #183
Oops How on earth did I close this?

[2015-06-11 01:48] fklassen opened #185 "Enhancement: detect Mac OS X SDK if installed"
Currently libpcap etc. must be installed via source or brew, even if libraries are already natively installed via an SDK. This enhancement will detect the SDK and use existing MAC OS X libraries, if installed.

[2015-06-11 04:37] fklassen commented on #185
pull request #186

[2015-06-11 04:37] #185 closed

[2015-06-11 04:41] #182 closed

[2015-06-11 22:29] fklassen commented on #172
@abiryukov you are correct. This was fixed in #85. Fixed in version 4.1

[2015-06-22 18:39] fklassen opened #189 "Unexpectedly high memory usage when using very large PCAP file"
As per email thread:

Hi, I'm Aid,
My tesbed: I run tcpreply on a PC1 (ubuntu 12.04 with Dell, i7 CPU, and 32 RAM, 1Gbps NIC) on eth0 which is connected to a Giga switch which forward the traffic (using port mirror) to another PC2 for traffic analysis.
Pcap size: 11 GB

First, I run the following command
tcpreplay -i eth0 -M 100 data.pcap
Then after few seconds suddenly eth0 become down. I need to

[2015-06-24 14:19] sorenhede opened #190 "Tcprewrite: UDP checksum calculated wrong for fragmented UDP packet"
When using -C on pcap-file containing fragmented UDP packets, the UDP checksum is incorrect.

It is possible to reproduce the issue using the file "http://loki.stockton.edu/~olanm/csis4222/homework/fragments.pcap"
With:
tcprewrite -C --infile=fragments.pcap --outfile=output.pcap

View of the fragments.pcap file in Wireshark
![fragments](https://cloud.githubusercontent.com/assets/10185732/8332106/5

[2015-06-24 18:39] fklassen commented on #190
Hi, any chance that you have UDP checksum offload enabled on the NIC?

I'll schedule some time to look into this for next beta release.

[2015-06-24 19:07] sorenhede commented on #190
Hi, the fragments.pcap testfile used in this example have correct UDP checksum - but when pass it thrugh tcprewrite with -C the UDP checksum become incorrect in the output file.

I believe there might be a problem with calculation of fragmented UDP checksum

[2015-06-24 19:47] fklassen opened #191 "--loop 0 results in full-wire speed rather than pcap speed."
... as per mail list

[code]

[2015-06-30 14:32] fklassen commented on #189
Received the following ...

Dear Fred and Aaron,
I can say that the Memory Leaking issue is not related to tcpreplay because when I opened the 11 GB pcap file by Wireshark, the memory also reach till 32 GB. I think the issue is either with the file or with hardware.

[2015-06-30 14:32] #189 closed

[2015-06-30 21:17] op7ic opened #192 "buffer overflow on corrupted pcaps in tcpcapinfo"
Hi Guys,

I got this when playing with some corrupted pcaps today:

==31832==ERROR: AddressSanitizer: stack-buffer-overflow on address 0x7ffe581f2710 at pc 0x7f053533e9b6 bp 0x7ffe581efe60 sp 0x7ffe581efe48
WRITE of size 10046 at 0x7ffe581f2710 thread T0
    #0 0x7f053533e9b5 in read (/usr/lib/x86_64-linux-gnu/libasan.so.1+0x299b5)
    #1 0x4031bb in main /root/tcpdump/source/tcpreplay-4.1.0/src/t

[2015-06-30 21:33] op7ic opened #193 "heap overflow on corrupted pcap in tcpliveplay 4.1.0"
Hi Guys,

Here is a heap overflow in tcpliveplay.

==18088==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x60c00000c000 at pc 0x405d78 bp 0x7fff3855ba00 sp 0x7fff3855b9f8
READ of size 4 at 0x60c00000c000 thread T0
    #0 0x405d77 in main /root/tcpdump/source/tcpreplay-4.1.0/src/tcpliveplay.c:221
    #1 0x7fe295ea1b44 in __libc_start_main (/lib/x86_64-linux-gnu/libc.so.6+0x21b44)
    #2

[2015-07-21 14:55] gmorganVA commented on #191
I am seeing a similar problem that I haven't fully characterized yet.  I am running 4.1.0 + a patch to resolve the timestamps going back in time looping issue.  If I run -l 0 without limiting playback speed then tcpreplay crashes after playback of approximately 45 minutes at 1 Gb/s.  This is also on CentOS 7.1.1503 (Core) on x86_64.  I'd be happy to help debug also.

[2015-07-22 21:05] fklassen commented on #192
Hi, apologies for the delay. Best to post to Main forum for tcpreplay <tcpreplay-users@lists.sourceforge.net> where there are more eyes watching.

From your stack trace, it appears the issue is identified by libasan, which I believe is Fedora address protection code. I believe it is interfering, and not allowing processing to proceed, namely because the file is corrupt. As you can see, it tries to

[2015-07-31 15:14] fklassen opened #195 "latest netmap API not downward compatible"
It appears that the newest netmap API no longer works with tcpreplay. As reported ...

[code]

[2015-08-03 18:07] gmorganVA commented on #191
The problem I found may not be related to the issue listed above.  There are several warnings in replay_two_files() in replay.c that are have a return code which does not indicate that they are warnings (needs to be rcode=1 in order for the code right after tcpreplay_replay(ctx) returns in the main() function in tcpreplay.c to properly process the warning (as opposed to thinking it is an error...a

[2015-08-05 16:13] fklassen commented on #191
Thanks for the input. Best guess is that I will be working on this in September.

[2015-08-06 17:30] signalsensefred opened #196 "What is the basis for the ipv4 and ipv6 randomization code?"
In src/tcpedit/edit_packet.c, the functions randomize_ipv4_addr and randomize_ipv6_addr have no comment on why the algorithm they use is desirable or what proprties it has. Is there a reference somewhere explaining why this is the right thing to do?

[2015-08-06 17:34] gmorganVA commented on #191
Is there a reference for best practices in providing fixes for inclusion in the tree?  The test I was running previously would fail reliably in 45 minutes or so and with my current fix, the same test has been running for over three days straight.

[2015-08-06 18:18] fklassen commented on #191
http://tcpreplay.appneta.com/wiki/contributions.html

[2015-08-06 22:03] fklassen commented on #196
I didn't write the code, but it appears to be used for replaying ARP packets. I can imaging if an ARP is using real (original) address, it could really mess up a network if replayed without modifying IP addresses.

If you need more info, I suggest posting on tcpreplay-users@lists.sourceforge.net where the original authors hang out.

[2015-08-07 17:30] fklassen commented on #195
Are you getting netmap from github ?

https://github.com/luigirizzo/netmap

Also should be aware of bugs in netmap, such as https://github.com/luigirizzo/netmap/issues/71

[2015-08-12 13:38] laulpt opened #197 "# tcpreplay or netmap-master bugs"
Hello Mr. Fred Klassen,

I am using tcpreplay 4.1.0 and netmap-master from this link: https://github.com/luigirizzo/netmap/tree/master/LINUX
I am using VM ware workstation to run ubuntu 14.04.2 i386 as virtual machine.
Linux kernel version: 3.19.5
I compiled netmap-master ok by following step:
./configure
make
sudo make install
I also compiled tcpreplay ok by following step:
./configure --with-net

[2015-08-12 14:23] fklassen commented on #197
I am quite certain that netmap is not supported on VMware workstation. You will most likely have to run it on a real machine. The *Operation not supported* error above is coming from netmap, so you will have to go https://github.com/luigirizzo/netmap/issues for support.

[2015-08-12 14:23] #197 closed

[2015-08-25 08:32] laulpt opened #198 "# tcpreplay with netmap support cannot send packets with high rate of packets"
Dear Mr. Fred Klassen,

I am trying to send packets with netmap support to get high speed of traffic. However, I met an issue as shown below. It did not give a high speed of sending packets. It is clear that 2,820,000 packets took a long time at 10.07 seconds. This rate is very slow. Could you help me why this rate is very slow?
I am running on Ubuntu 14.10 Linux Kernel 3.19.5, tcpreplay 4.0.1, ne

[2015-08-25 15:39] abiryukov commented on #198
It is e1000e driver and it's sending at 932.95 Mbps. For this number of packets in this time, average packet size works out to be ~416 bytes, which is reasonable

[2015-08-25 16:06] fklassen commented on #198
I would argue that this is as expected for your hardware. In fact, this is very fast. Let's analyze your results.

Looking at packets sent vs bytes sent, your average packet size is ...
[code]

Since this is an e1000e driver, we know you are running on a GigE interface. On Ethernet, every packet has additional overhead not reported at Layer 2 (MAC). There are 24 hidden bytes (FSC, Inter-frame Gap,

[2015-08-25 16:10] fklassen commented on #198
Just saw your comment @abiryukov ... could it be I got the average packet size wrong? If so, this link is running near theoretical max.

[2015-08-25 16:15] abiryukov commented on #198
No, yours look correct @fklassen . I missed bytes sent, and just did an estimate based on Mbps

[2015-08-26 01:19] laulpt commented on #198
Dear fklassen,

How can i increase the number of packets to cause traffic? I mean how can i change to 10GigE?

[2015-08-27 12:58] cdunklau opened #199 "tcprewrite only checks packets against the first CIDR pair in the --srcipmap option"
I originally found this with tcprewrite version 3.4.4, and verified it still exists on 4.1.0beta2. It looks like tcprewrite only checks packets against the first CIDR pair in the `--srcipmap` option. It may only be when dealing with host IPs (/32), but I wasn't able to test with wider ranges.

I have a pcap with a two packets, each from a different source.

    cdunklau@krusty:~$ /usr/sbin/tcpdump

[2015-08-27 13:03] cdunklau commented on #199
To assist reproduction, here is a base64 dump of the pcap file. The md5 checksum of the file is included:

[code]

[2015-09-28 07:36] maverickprateek opened #200 "replay is at higher rate than specified by -M"
I have ubuntu 14.04 LTS.
tcpreplay version is the latest available for ubuntu.

I am seeing tcpreplay sending packets with Actual speed exceeding the speed limit.
If I mention -M 51, the Actual speed is ~51
If I mention -M 100, the Actual speed is ~102

tcpreplay --version
tcpreplay version: 3.4.4 (build 2450) (debug)
Copyright 2000-2010 by Aaron Turner <aturner at synfin dot net>
Cache file suppo

[2015-09-28 07:37] maverickprateek commented on #200
pcaps can be found at "http://www.netresec.com/?page=MACCDC"

[2015-09-28 15:06] b-u-g-s opened #201 "Tcpreplay needs a "live" interface?"
Hi,

I am wondering if anyone could help me with a problem with tcpreplay, I am not sure if it is a bug or if I am doing something wrong/it is by design...
I have a pcap from a computer/network.
I want to use that pcap on my IDS (on a completely different network/environment). On this computer I have 2 NIC: 1) eth0 a live primary interface with an IP assigned and 2) eth1 a monitoring interface in

[2015-09-28 15:45] b-u-g-s commented on #201
Well, I found the answer :)
This is because of VMware. If there is no cable plugged in, it seems VMware somehow does not enable the interface... and although it appears to be up in linux when doing ifconfig, in fact it isn't up.
After doing a fair bit of testing with tcpdump and other network tools like nmap and ping... it was obvious no packets were being transmitted even though from a Linux poin

[2015-09-28 16:12] fklassen commented on #200
You are running a very old version. I think you will find this fixed in version 4.X releases. https://github.com/appneta/tcpreplay/releases

[2015-09-28 16:19] fklassen commented on #201
Glad you found it. Thanks for posting the solution.

Generally I recommend posting questions on the main forum for tcpreplay <tcpreplay-users@lists.sourceforge.net>. It hits hundreds of users vs. a half dozen or so on GitHub.

[2015-09-28 16:19] #201 closed

[2015-09-29 17:53] maverickprateek commented on #200
It is indeed fixed in 4.1.0.

[2015-09-29 17:53] #200 closed

[2015-09-29 18:14] fklassen commented on #200
Thanks for updating and closing.

[2015-10-23 15:39] DomT4 opened #203 "Master doesn't compile on OS X 10.11"
[Gist log](https://gist.github.com/DomT4/10bf28280d20d57d8ea8).

Note to get that far the `configure.ac` SDK check has to be patched to include 10.11 or `--with-macosx-sdk=10.11` passed on the command line otherwise it panics about not being able to find an appropriate SDK.

[2015-11-02 22:51] fklassen opened #206 "Want tap/tun support"
Place holder for enhancement by @demirten

[2015-11-17 16:40] rafafade commented on #172
Hello

Sorry if this is mark as closed and that I am missing something, but I have the same problem of  "Warning: Packet #XXXX has gone back in time!" with v4.1.0

The command I execute:
tcpreplay --pid -i eth1 --loop=2 capture_UDP_9760only.pcap

About the .pcap file:
-The packets were captured and filtered with Wireshark
-Then I changed source MAC and IP using tcprewrite
-It contains only UDP tra

[2015-11-17 19:41] fklassen commented on #172
I'll reopen this issue again so that we can review.

Sometimes this is an issue with reordered timestamps in the pcap file. Can you supply a failing pcap file?

[2015-11-17 22:16] fklassen opened #210 "-M switch to full wire speed after 30min"
as per user group message...

Cory Simonson cory.simonson@viavisolutions.com via lists.sourceforge.net
1:43 PM (28 minutes ago)

to tcpreplay-users
Hello,

I'm experiencing an issue where after about 30 minutes of looping the speed at which traffic is generated changes from what was specified with the -M option to full line rate.

I'm running tcpreplay with netmap on FreeBSD 10.2-RELEASE amd64. Th

[2015-11-18 09:12] rafafade commented on #172
Hi

I can't give you the trace I was using yesterday due to confidentiality, but I have tested another  capture I had and was able to reproduce the problem (Warning: Packet # has gone back in time!)

I'm not able to upload the failing .pcap here, how should I proceed?

Command executed:
tcpreplay --pid -i eth1 --loop=2 capture_jperf_UDP_port_dest_6000_only_rewritten.pcap

About the capture:
-The o

[2015-11-18 16:18] fklassen commented on #172
Thanks for the detail. I plan to work on this in December. I'll try to reproduce.

[2015-11-22 16:15] fklassen opened #211 "Compiling error - Libpcap Error in Kali Linux Pi2 for Tcpreplay 4.1.0"
As per mailing list, it appears that *libpcap-dev* is not properly detected on Raspberry Pi2

[code]

[2015-11-25 16:10] fklassen commented on #211
User tried [4.1.1-beta2](https://github.com/appneta/tcpreplay/releases/tag/v4.1.1-beta2) and still failed. Here are the logs.

[config.log.txt](https://github.com/appneta/tcpreplay/files/44054/config.log.txt)

[2015-12-14 04:25] fklassen commented on #203
I am testing the latest updates to fix may issues with libpcap. Not only is the library change, but also OS X, Debian, Ubuntu are changing how they use it. I hope this fixes several bug that are specific to libpcap.

[2015-12-14 17:22] fklassen opened #217 "need to update company name"
Must change `AppNeta Inc.` to `AppNeta`

[2015-12-14 17:27] #217 closed

[2015-12-15 06:01] fklassen commented on #167
Thanks for reporting. It appears bug got introduced in 4.1.1-beta2 as part of code cleanup. Is in master, and will appear in 4.1.1-beta3, when I release it.

[2015-12-15 06:01] #167 closed

[2015-12-15 10:29] fklassen commented on #211
Closing after testing fix on SheevaPlug. Will reopen if reports come in about Pi2 failing.

[2015-12-15 10:29] #211 closed

[2015-12-15 11:20] fklassen commented on #210
fixed in PR #221

[2015-12-15 11:22] fklassen commented on #203
PR #216 appears to have fixed this. Is in master, and will be generally available soon in 4.1.1-beta3.

[2015-12-15 11:22] #203 closed

[2015-12-15 23:23] fklassen commented on #199
[code]

[2015-12-15 23:23] #199 closed

[2015-12-15 23:44] fklassen commented on #198
Closing issue. Results look good.

[2015-12-15 23:44] #198 closed

[2015-12-15 23:45] #196 closed

[2015-12-16 03:27] fklassen commented on #181
assuming advice worked. Closing.

[2015-12-16 03:27] #181 closed

[2015-12-16 04:39] fklassen commented on #178
These options have no effect on the source code. It only affects `make tests`, and should not otherwise affect the executables. Not sure what is going on, but will close for now.

[2015-12-17 00:27] fklassen opened #223 "Transmit by time optimizations"
Noticed in code review of #175 that timestamps are done for every packet when using new `--duration` option, even when TX is falling behind.

Also, notice that help that there may be confusion over the fact the `--duration` is in regards to time. Should clarify that time is in seconds, and that duration limits the maximum amount of time to TX.

Finally, the word `transmit` is misspelled.
Current h

[2015-12-17 00:48] fklassen commented on #223
Fixed in PR #224.

[2015-12-17 00:48] #223 closed

[2015-12-17 04:52] fklassen commented on #191
@gmorganVA I am about to start work on this soon. I have not reproduced it yet. I see that you have not forked the REPO yet, so I guess you may have questions about how to contribute. I would love to see your changes. If you still want to contribute, you can chat with me here https://www.hipchat.com/gn8S5TnbV

[2015-12-17 17:07] fklassen opened #225 "Want RFC1624 checksums to increase tcprewrite/tcpreplay-edit performance"
Currently, edits to packets usually result in full packet checksum recalculations. This is very expensive, and most likely affecting performance. Also, edits involving multiple frames are not practical (e.g. fragments, as illustrated in #190), and therefore edits to fragmented packets often fail.

To address this, I want to explore using checksum editing techniques I see in the Linux kernel. Speci

[2015-12-18 14:51] fklassen commented on #190
It appears that #225 fixes this bug, mostly.

The underlying issue is that that `tcpreplay-edit` and `tcprewrite` can only process one packet at a time. For many operations, if something is edited, packet checksums must be updated. Original technique was to recalculate the entire checksum. This doesn't work for fragments, which require checksumming frames that will be sent/rewritten in future fram

[2015-12-18 14:57] fklassen commented on #225
Implemented in PR #226. Also fixes #190. See comments in #190 in regards to limitations when using fragmented packets.

*Before...*
[code]

*After...*
[code]

[2015-12-18 14:57] #225 closed

[2015-12-18 14:59] fklassen commented on #206
Updated comments in PR #206. May implement TUN for Linux in a future release.

[2015-12-18 14:59] #206 closed

[2015-12-18 15:06] fklassen commented on #184
Currently we do not support libpcap-netmap. Instead you should use `./configure --with-netmap` to compile netmap support directly into Tcpreplay.

Discussed with @luigirizzo. The current "native netmap" approach may result in better performance than moving to libpcap-netmap, so I am changing the status from `Bug` to `Enhancement`. Will look at it again in a future release.

[2015-12-18 15:19] fklassen opened #227 "Option --unique-ip does not accept --duration"
here is the error

[code]

[2015-12-18 15:40] #227 closed

[2015-12-19 01:41] fklassen commented on #191
Finally recreated this by accident. Discovered error happens if you specify --loop=X (anything other than 1) and no other options such as -M or -t. It is a combination I rarely use. I guess I didn't try those combos during regression testing. Should have a fix soon.

Too bad I didn't see the command-line options that produced the error. It would have been fixed much sooner.

[2015-12-19 01:49] fklassen commented on #191
Fixed in PR #229

[2015-12-19 01:49] #191 closed

[2015-12-19 01:56] fklassen commented on #195
Tested with latest version of netmap and tag `v11.1`.

Note that netmap does not always keep `master` branch production ready. Suggest doing a `git tag` and check out the latest version, e.g.

[code]

Closing.

[2015-12-19 01:56] #195 closed

[2015-12-19 02:12] fklassen commented on #193
Hi @op7ic .. I am trying to reproduce this, and the pcap file appears to be corrupt. Can you check it out on your end?

[code]

[2015-12-19 03:44] fklassen commented on #173
Seems to be working now due to lots of bug fixes. Thanks for reporting.

[code]

[2015-12-19 03:44] #173 closed

[2015-12-19 03:53] fklassen commented on #172
Right you are, this is a bug. I missed it because it only shows up if not using some other options. Duplicate of #191 and fixed with PR #229

[2015-12-19 03:53] #172 closed

[2015-12-19 20:45] fklassen commented on #180
I have never played with the `--fragroute` option so it took me a while to get my head around it. I think I know enough now to address it.

I was able to get it to work. First I downloaded, compile and install [libdnet-1.11](http://libdnet.sourceforge.net/) on Linux. It is incorrect to attempt to install it with `apt-get`. Then I ran `./configure && make` in tcpreplay.

Looking at your command exa

[2015-12-19 20:45] #180 closed

[2015-12-19 20:46] #193 closed

[2015-12-19 20:47] #192 closed

[2015-12-24 13:48] gmorganVA commented on #191
Fred,

Thanks for the updates. I would have responded sooner but I no longer
have access to the source code where I was working on this bug since I
have recently changed places of employment. I will certainly contact my
old team and let them know of the developments because this is still
relevant to their work.

--
  George Morgan

On Fri, Dec 18, 2015, at 08:49 PM, Fred Klassen wrote:

Links:

[2015-12-25 03:17] fklassen opened #232 "Netmap interface syntax netmap:<interface> no longer working"
I believe this is due to changes in newer netmap API:

[code]

[2015-12-26 16:07] fklassen commented on #232
fixed in PR #233

[2015-12-26 16:07] #232 closed

[2015-12-26 16:08] fklassen commented on #93
Enhancement as per PR #233

[code]

[2015-12-26 16:08] #93 closed

[2015-12-26 17:57] fklassen commented on #115
Got some advice from @luigirizzo regarding netmap performance. I reworked accordingly and applied the fix in PR #233.

Essentially you have to constantly do system calls to keep the sends running, especially on very high-end systems. However you cannot do it too often, otherwise it doesn't work for slower systems. He gave me some rules of thumb, and I used them to improve performance.

[2015-12-26 17:57] #115 closed

[2015-12-26 18:05] fklassen commented on #176
@morphyno I believe I have made improvements that will prevent this from happening. It may also fix other issues you have reported. I asked for advice from the author of netmap, and he gave me some tips that are reflected in PR #233. It will be available in v4.1.1 wish will be released shortly.

Thanks for the bug report. I'll keep this open for a while to see if you can confirm. It appears that t

[2015-12-27 18:17] fklassen commented on #184
It appears that it does work. Tried it with FreeBSD10 p12. But I had to backdate to a Feb 10 2014 version of `netmap-libcap` in order to compile. Here is the git version c77ffc1b7374d7baa5a6fc0841eb0dd6a8e60fab

Also if `/dev/netmap` does not exist, you must [compile and install netmap](https://forums.freebsd.org/threads/freebsd-10-1-missing-dev-netmap.51562/).

I am closing this request, and inst

[2015-12-27 18:17] #184 closed

[2015-12-27 18:19] fklassen commented on #176
I've been testing for several days, and it appears the PR #233 has fixed this. I'll close the issue, and please reopen if this reappears.

Will be part of 4.1.1 release.

[2015-12-28 23:01] fklassen commented on #176
reopening. I did further optimizations and found I could reproduce the bug by sending 3000 packets with smallFlows.pcap. Larger and smaller bursts are OK.

[code]

[2015-12-29 05:50] fklassen commented on #176
fixed with PR #234

[code]

[2015-12-29 05:50] #176 closed

[2015-12-30 16:22] fklassen opened #235 "inaccurate --pps option"
Examples:

[code]

[2015-12-30 22:06] fklassen commented on #235
fixed in PR #236

[code]

[2015-12-30 22:06] #235 closed

[2016-01-06 11:02] jackABA opened #237 "Can not replay a tcp packet captured in a pcap file"
Hello everyone, I captured a tcp traffic using wireshark and saved the traffic in pcap file. I did two tests:

Test 1:
# tcprewrite --infile=capturedtraffic.pcap --outfile=temp.pcap --srcipmap=0.0.0.0/0:192.168.0.21 --enet-smac=00:0c:29:de:78:42
# tcpreplay --intf1=eth0 temp.pcap

Test 2:
# tcpliveplay eth0 capturedtraffic.pcap 192.168.0.133 00:24:21:1e:29:b2 random

For both tests, the TCP replay

[2016-01-12 15:31] JohnMcHugh opened #239 "Feature request - First and last packet times in --stats output"
I am stress testing a flow sensor using large pcap files constructed for the purpose.  The files have 10M to 100M entries each of which produces a unique flow. I loop over them to generate additional unique flow entries.  I use the -K option to prestage the packets.

With files this size a considerable period elapses between the start of tcpreplay and the transmission of the first packet.  With th

[2016-01-29 16:24] morphyno commented on #176
Thanks, this is excellent!

[2016-02-22 16:49] fklassen opened #240 "Fatal Error: failed to open device eth27: Unable to determine the running netmap version."
Received from email thread

[code]

[2016-02-22 17:08] fklassen commented on #240
On the system your are running this on, do you see `/dev/netmap`? If not, the netmap module is not installed.

Another option is that you compiled on a system that has netmap sources, and are running on a system that does not have netmap installed.

To install netmap, you need to replace existing network drivers (e.g. igb.ko) and "insmod" or "modprobe" netmap.ko (or sometimes netmap_linux.ko). Do

[2016-02-22 18:18] JohnMcHugh opened #241 "Diminished speed with high loop counts (probable bug)"
I'm running tcpreplay 4.1.0 with the following version information:
tcpreplay version: 4.1.0 (build git:v4.1.0)
Copyright 2013-2014 by Fred Klassen <tcpreplay at appneta dot com> - AppNeta Inc.
Copyright 2000-2012 by Aaron Turner <aturner at synfin dot net>
The entire Tcpreplay Suite is licensed under the GPLv3
Cache file supported: 04
Not compiled with libdnet.
Compiled against libpcap: 1.5.3
64

[2016-02-23 00:03] fklassen commented on #241
Sounds like a bug, but may be hard for me to reproduce. What OS are you using?

Is it possible to try a couple things?

1. Try version 4.1.1. I did a fix that increased performance for `--topspeed`.
2. Have a look at your memory to see if it is being consumed due to a memory leak. On Linux I use `free -m` and look at the 2nd line.

[2016-02-23 00:19] fklassen commented on #241
Did a bit more investigation. I suspect #191 fixed the issue for v4.1.1.

[2016-02-23 14:00] JohnMcHugh commented on #241
Thank you very much.

The linux release is CentOS Linux release 7.0.1406 (Core)

I will install 4.1.1 and try again.  I ran “top” during operation and, as I recall, the memory used stayed in the 25% range.  The machine has 32GB, so this seems to be consistent with a 7.6 GB file.  I will monitor the usage more closely during this run.

================ On a possible additional bug.

I have had one

[2016-02-23 15:20] JohnMcHugh commented on #241
I have built 4.1.1 on the system and am repeating the test.  The 15000+ second point where the earlier test collapsed should be reached about 2:15 PM (EST) this afternoon.  It is now 10:20 AM.

I am capturing a log with free -m output every 30 seconds, as well.

John McHugh

[2016-02-23 16:27] fklassen opened #242 "`tcpprep` Seg Fault if not using `--pcap` parameter"
As reported by @synfinatic on IRC channel:

[code]

[2016-02-23 16:36] fklassen commented on #241
OK.

Please open a new bug log for the 2nd issue and I'll have a look at it. If you can isolate the offending packets in a capture file it would be helpful. I may have a workaround but I won't discuss it in this bug log.

[2016-02-23 19:29] JohnMcHugh commented on #241
Test is still running, but we passed the 16000 second mark still running strong
[code]
I'm going to let it go at least until morning, but 4.1.1 seems to have solved the problem.

[2016-02-24 00:30] fklassen commented on #241
:+1:

[2016-02-24 00:34] fklassen commented on #241
BTW, when using free, you are missing the most important line of data. The second line will show the 16334 MB memory minus the 7618 MB cached. The cached is memory that is available to the kernel/OS, but is held for things like file cache. In reality you have much more than 16334 MB free.

[2016-02-24 15:06] JohnMcHugh commented on #241
Thanks.  I'll change the logging next time.  We ran for almost 24 hours and then shut it down to do some other testing. The last stats report before we shut it down was
Actual: 9646369785 packets (10260158012909 bytes) sent in 84660.08 seconds.
Rated: 121191200.0 Bps, 969.52 Mbps, 113941.31 pps
I'm going to get the rates from the entire log and do the plot to make sure I did not miss something

[2016-02-24 17:43] fklassen commented on #241
Looks pretty good. I'll keep this issue open for a while so you can complete testing.

BTW, also with v4.1.1 comes greatly improved performance for tcpreplay-edit. If you prefer, you can use random addresses rather than using --unique-ip.

[2016-02-25 02:03] teknoraver opened #243 "Merge "Enhancement_208_pthreads" branch"
Please merge the branch "Enhancement_208_pthreads" to have multithreading enabled under *NIX

[2016-02-25 17:52] fklassen commented on #243
Waiting for response to my question ...

[code]

My concern is that mult-threading can cause packet reordering at higher rates. It also tends to slow things down.

What is the purpose of this PR, and why would people benefit from it?

[2016-04-21 15:21] fklassen opened #244 "Quick TX fails on Raspberry Pi"
From mail list:

[code]

[2016-04-26 18:34] fklassen commented on #241
Looks like no further issues. Closing.

[2016-04-26 18:34] #241 closed

[2016-05-06 14:22] fklassen opened #245 "support for Netmap in emulation mode"
As per mail list:

[code]

[2016-05-06 14:41] PavelBirulin commented on #244
Do you know if netmap supports wifi frames ?

[2016-05-06 17:31] fklassen commented on #244
netmap questions belong here https://github.com/luigirizzo/netmap/issues

[2016-05-09 16:25] PavelBirulin commented on #245
Fred, thanks!

you are writing:

are any options to activate these enhancements ?
Is any libpcap settings useful for this ? (as far as I understand tcpreplay uses libpcap)

[2016-05-12 23:10] dsrana1212 opened #246 "fragroute engine fails to fragment the IP datagrams generated by wireshark with TCP Segmentation offloading enabled."
On windows systems with TCP segmentation offloading enabled, the IP fragmentation is done by the NIC card and the IP layer sets the ip_total_len field in header to 0. This field is populated by the NIC appropriately. Since wireshark sniffs packets before they are passed on to NIC, the sniffed IP datagrams have large payload with ip_total_len set to 0 in header.

 Fragroute fragments the ip datagra

[2016-05-12 23:11] dsrana1212 commented on #246
I submitting a fix in pkt.c file in fragroute library to address the issue.

[2016-05-13 19:20] fklassen commented on #246
Merged PR. Leaving open until documentation/testing complete.

[2016-05-13 20:11] PavelBirulin commented on #245
Fred, hi, could not run tcpreplay faster than 15 MBps.

[2016-05-13 20:30] dsrana1212 commented on #246
Thanks. Will update the Doc and post complete testing results shortly

[2016-05-13 20:32] dsrana1212 commented on #242
Is this fixed? I think I can take it up. I have some free time at my disposal.

[2016-05-13 20:59] fklassen commented on #242
Yes!!! Please!!! ... I would like to get a micro release out be the end of the month, but my real job keeps getting in the way.

[2016-05-13 21:01] fklassen commented on #246
OK, if you do updates, add fix to CHANGELOG and add yourself to the contributors list.

[2016-05-13 21:04] fklassen commented on #245
Pavel, this is a place holder issue to remind me that there is a request to support this feature. As of now, this is not supported. You will need to get a Netmap supported adapter and run in non-emulated mode.

This issue is not scheduled, so it will not make it into the next release at the end of the month.

[2016-05-13 21:06] PavelBirulin commented on #245
Fred,

yes, thanks, I understand - this is just information for you about the speed of  4.4.1 version.

[2016-05-13 21:07] dsrana1212 commented on #246
Sure.

[2016-05-13 23:14] fklassen commented on #245
Ahhh ..  misunderstood. Thanks.

[2016-05-16 15:40] PavelBirulin commented on #245
Thanks,

btw, noticed when compiling tcpreplay with quick_tx under Raspberian:

warning: implicit declaration of function ‘rmb’ - which then leads to the linking error

this happens because of (it seems - different CPU type).

#if defined __x86_64__ || defined __i386__
# define rmb()          __asm__ __volatile__("lfence" ::: "memory")
# define wmb()          __asm__ __volatile__("sfence" ::: "mem

[2016-05-16 16:03] fklassen commented on #245
quick_tx is best-effort basis right now, until I can time (or find someone with time) to fix it up. It is not and probably will never be supported on Rasberian.

[2016-05-16 16:05] PavelBirulin commented on #245
thanks, I see commented out //#include "arm_mem_barrier.s" - make sense to try this include ?
Where can I find it (if it exists) ?

[2016-05-16 16:06] fklassen commented on #245
that would be in the cross compiler. It appears your cross compiler doesn't have it.

[2016-05-16 16:10] PavelBirulin commented on #245
no, didn't find it in the disk at all. Found only this one with something about arm_memory_barrier: https://github.com/aquynh/capstone/blob/master/include/arm.h

[2016-05-16 16:14] PavelBirulin commented on #245
Fred, I have time actually :)

[2016-05-16 16:30] fklassen commented on #245
Great! If you make something nice, submit a pull  request and I'll review.

As for cross compiler, that is supplied by others. Look in you gcc/build directories.

[2016-05-16 16:35] PavelBirulin commented on #245
ok, will try, what are the current state in brief of quick_tx ? (list of known problems etc)

[2016-05-16 16:44] PavelBirulin commented on #245
It's interesting - if using --quick-tx when I check the actual speed of sending independently on tcpreplay - I see that first 10 packets are sent very quickly - each few MICROseconds. But then the speed slows down in a few orders of magnitude. It seems first packers really goes directly to the NIC but the NIC buffer is very small

[2016-05-16 16:49] fklassen commented on #245
quick_tx is currently shelved, and may get yanked. I didn't do the development on it, and issues are not logged. If you want to resurrect it, feel free. Warning ... you need to have a fair knowledge of kernel programming.

[2016-06-06 00:32] nipunarora opened #248 "TCPDump and TCPReplay to record and replay requests to application servers"
Can TCPDump and TCPReplay be used to record(tcpdump) network traffic coming in to a application server/webserver/queue application etc., and then replayed using the dump on TCPReplay?

Let's say I setup a apache server and use TCPDump to capture the entire network traffic and dump it to a file. Now I run apache in a different machine and want to replay the traffic to this new apache server using t

[2016-06-06 14:15] fklassen commented on #248
No, see FAQ. You cannot replay traffic to a server.

[2016-06-07 17:28] marian3 opened #249 "unsupported radiotap header,tcprewrite segfault"
Hi, I have a problem:
`:~$ sudo tcpdump -i mon0 -s0 -w - > pipeffplay`
mon0-wifi interface in mode monitor
`:~$ sudo tcpreplay -i lo pipeffplay`
`Warning: Unsupported physical layer type 0x0304 on lo.  Maybe it works, maybe it wont.  See tickets #123/318`
`Warning: Unable to process unsupported DLT type: 802.11 plus radiotap header (0x7f)`
`Warning: Unable to process unsupported DLT type: 802.11 p

[2016-06-07 18:48] fklassen commented on #249
Upgrade to release code and try again. If it doesn't work, please attach a packet capture and I'll have a look.

So, what is the adapter? It appears to be some type of tap device.

[2016-06-07 19:40] marian3 commented on #249
Compiling source from GitHub:
`CC       pppserial.o`
`  AR       libtcpedit.a`
`ar: u' modifier ignored since D' is the default (see U')`
`make[4]: Leaving directory '/home/marian/tcpreplay-master/src/tcpedit'`
`make[3]: Leaving directory '/home/marian/tcpreplay-master/src/tcpedit'`
`make[3]: Entering directory '/home/marian/tcpreplay-master/src'`
`  CC       tcpreplay-tcpreplay_opts.o`
`tcpreplay

[2016-06-07 19:43] fklassen commented on #249
download release code

https://github.com/appneta/tcpreplay/releases

[2016-06-07 19:52] marian3 commented on #249
release code works the same way

[2016-06-07 20:23] marian3 commented on #249
release 4.1.1
`:~$ sudo tcprewrite --dlt=enet --infile=mon0.pcap --outfile=output.pcap`
`Warning: Packet 1 is unknown reason for non-data
tcprewrite: ./plugins/dlt_ieee80211/ieee80211.c:237: dlt_ieee80211_proto: Assertion pktlen >= l2len failed.`

[2016-06-07 20:28] fklassen commented on #249
really looks like you got the wrong code if you cannot compile. Compiling from GitHub is only for developers who have all prereqs install. Release code has docs etc. compiled and can be compiled by nearly anyone. https://github.com/appneta/tcpreplay/releases/download/v4.1.1/tcpreplay-4.1.1.tar.gz

[2016-06-07 20:29] marian3 commented on #249
Capture file:
[mon0.zip](https://github.com/appneta/tcpreplay/files/303469/mon0.zip)

[2016-06-07 20:29] fklassen commented on #249
good ... this is proving it is an unsupported network type. What type of adapter is this? It doesn't appear to be a normal wireless.

[2016-06-07 20:45] marian3 commented on #249
ok,compiled release code no problem.
Its normal usb_wireles edimax ew-7318usg(realtek), or  tplink wn 722n(atheros). AP is tplink.
In mode_managed its work - ethernet header. In mode_monitor not work - radiotap header.

[2016-06-07 21:00] fklassen commented on #249
May be a bug. I'll mark it as such and will put in the backlog.

[2016-06-07 21:10] marian3 commented on #249
thanks.

[2016-06-13 18:21] marian3 commented on #249
the problem may be in the:
`~$ tcprewrite --dlt=enet --infile=mon0.pcap --outfile=output.pcap -v`
`reading from file -, link-type EN10MB (Ethernet)`
`tcpdump: pcap_loop: bogus savefile header`
it is possible to do something about it?

[2016-06-14 14:49] fklassen commented on #249
don't understand. clarify.

[2016-06-14 15:52] marian3 commented on #249
something about it here [http://osdir.com/ml/network.tcpdump.devel/2007-03/msg00050.html](url)

[2016-07-04 19:11] fklassen opened #250 "Feature request - set netmap mode once and don't reset"
As per request

Hello
I hope you are doing well.
I looked around, but I didn’t see specific functionality described below.
We need to plays hours of unique PCAP data at 10Gbs.   The complete test suite of PCAPs is more than 40TB.  Our previous 1Gbs environment had tcpreplay iterate through thousands of 2Gb PCAP files, one by one.    With 10Gb and the –netmap option, there is a significant delay an

[2016-07-05 14:51] epearce2 commented on #250
I didn't think of this before, but I could potentially list hundreds of different pcaps on the tcpreplay command line so that there is only one 'mode transition' delay involved when playing them.  But I would still like the ability to set the 'mode' of the interface on a permanent basis, perhaps at boot time.

[2016-07-05 15:42] fklassen commented on #250
Might be best to do it that way. Not sure when I can get this feature scheduled.

[2016-07-06 15:52] fklassen opened #251 "Seg Fault on illegal frame size > 65535"
From https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=829350

Note that this may already be fixed. Verification required.

[code]

[2016-07-08 17:23] fklassen commented on #251
Also here https://bodhi.fedoraproject.org/updates/FEDORA-2016-904ed1d231

[2016-07-08 18:23] epearce2 opened #252 ""Error=Cannot allocate memory" with multiple, simulanteous tcpreplay sessions"
If I fire up 4 different tcpreplay sessions on the same machine, using a different interface each time, the fourth session gives me a "Cannot allocate memory" error.   Is there some setting I can tweak for this?  I've done this in the past with a different server in the past without issues.

/usr/local/bin/tcpreplay -K --loop=1000 --nm-delay=15 --netmap -t -i p3p1 foo.pcap

This is from strace:

o

[2016-07-08 18:41] epearce2 opened #253 "Quick TX on Ubuntu 14.04 SegFaults"
I've tried several OS combinations of Ubuntu and CentOS, and I haven't been able to get QTX mode working.  I'm happy to supply whatever debugging inf might help.

/usr/local/bin/tcpreplay -i qtx:p3p1 foo.pcap
Segmentation fault

This is from strace:

mmap(NULL, 4096, PROT_READ|PROT_WRITE, MAP_SHARED, 4, 0) = 0x7f5869630000
rt_sigaction(SIGUSR1, {0x405eb0, [USR1], SA_RESTORER|SA_RESTART, 0x7f5899ab

[2016-07-11 08:55] ilovezfs opened #254 "macOS: Xcode shouldn't be required if the Command Line Tools are installed"
Although it was not the case in tcpreplay 4.1.0, the tcpreplay 4.1.1 release now requires Xcode.app. This is a regression in that the Command Line Tools from Apple are actually sufficient to build tcpreplay (both 4.1.0 and 4.1.1) even if you don't have Xcode.app.

The problem is that configure in 4.1.1 is looking for an Xcode SDK folder, but such a folder will only exist if Xcode.app is installed.

[2016-07-21 20:28] c-f-s-s opened #255 "tcpreplay won't replay all packets in a pcap file with --netmap flag at 5+ Gbps rate"
I have FreeBSD 10.3 set up with a dual-port 10Gb Intel X520-SR2 network card, the netmap drivers, and tcpreplay.

Recently I discovered that if I replay a pcap file with the --netmap flag at a rate of 5 Gbps or higher all packets will not be transmitted. Tcpreplay will report that every packet was transmitted, but the receiving equipment reports that some are missing. The amount missing is not con

[2016-07-21 20:32] c-f-s-s commented on #210
I'm still experiencing this issue (I'm Cory, the person who reported the issue originally to the mailing list). Last time I made a concerted effort to reproduce, it took about 4 hours. For others, it seemed to occur quicker but, I haven't confirmed if it can occur as quickly as 30 minutes.

Updated information:

FreeBSD 10.3-RELEASE amd64

tcpreplay version: 4.1.1 (build git:v4.1.1)
Copyright 2013

[2016-07-22 15:00] fklassen commented on #210
I'll reopen the issue and will attempt to reproduce in 4.2 release. I'll probably get around to it in the fall.

[2016-07-22 15:06] fklassen commented on #255
Tcpreplay "Successful packets" reported means that netmap accepted the packets for transmission. Possibly you adapter needs more time before switching out of netmap mode, causing some packets to clip. Can you try playing with `--nm-delay` to see if it goes away?

What version of netmap are you using?

[2016-07-22 16:13] c-f-s-s commented on #255
That sounds plausible because, when I save the resulting captures in CSV format and do a diff on them, it's always the missing packets are always the last packets of the pcap file.

However, this flag only seems to affect the delay switching _into_ netmap mode. Switching out of netmap mode seems to be relatively instantaneous, regardless of when I set the flag to. I've tried up to 30 seconds. No i

[2016-07-22 16:56] fklassen commented on #255
I guess its hard coded. I'll have a look. Maybe #250 will help as well, once it gets implemented.

[2016-08-16 19:22] synfinatic opened #257 "tcpreplay doesn't honor tcpprep cache files to split traffic"
The cache file can say it will send packets out primary/secondary interface, but all the packets go out the primary interface.  Impacts v4.1.0

[2016-09-26 15:54] thelaughingbandit commented on #190
I am using version 4.1.1 of tcprewrite and I am still having this issue. The captured packets have a correct udp checksum in wireshark, but when I use the --portmap option to change the source, destination or both, the checksums are no longer valid for those udp packets that are fragmented.

When I ran ./configure, I didn't use any options. Is there something in particular I need to get this funct

[2016-09-26 16:20] fklassen commented on #190
Just make sure you are using this source code instead of cloning from github https://github.com/appneta/tcpreplay/releases

[2016-09-28 07:28] thelaughingbandit commented on #190
Thanks very much for the quick response. I built everything again from scratch from your link but I had the same issue. In the end I managed to get around it by using --portmap for a single port at a time. When I try to port map a range of ports to a single port, the udp checksums are incorrect.

[2016-09-28 16:46] fklassen commented on #190
OK, sounds like a bug. I've got it scheduled for next release.

[2016-10-29 05:23] fklassen opened #262 "periodic flow information"
From user group ...

the --stats option only prints packets statistics periodically, while flow statistics only print at the end of tcpreplay. Is there any option to print flow statistics periodically? Or how can I modify tcpreplay to accomplish that?

[2016-11-19 02:05] Whissi commented on #251
The patch from Christoph which Debian has applied is not present in current git master, see https://github.com/appneta/tcpreplay/blob/master/src/tcprewrite.c#L249-L256

Patch was
[code]

[2016-11-19 14:35] fklassen commented on #251
Applied patch in PR #264

[2016-11-19 14:35] #251 closed

[2016-11-19 15:07] fklassen commented on #246
Update in master

[2016-11-19 15:07] #246 closed

[2016-11-19 15:09] fklassen commented on #242
I'll move this to v4.2.0 for now. Want to get v4.1.2 out soon.

[2016-11-19 16:42] fklassen commented on #254
Fixed with PR #265.

Here is a `configure` with Xcode....
[code]
and here is a build without Xcode, picking up HomeBrew install....

[code]

[2016-11-19 17:11] fklassen commented on #254
Still have some build issues

[2016-11-19 19:46] fklassen commented on #254
Working now

[2016-11-19 19:46] #254 closed

[2016-12-07 22:14] 519seven opened #269 "Provide loop count status"
Enhancement request:

I have several projects for which I'd like to be able to track the number of times a pcap has been played completely and loops back to the beginning (a.k.a. "a loop counter").  For example, a simple `--loop-status` argument would cause the loop # to be printed to _stdout_ which I could redirect to a file using basic bash output redirection.  An enhanced version would include

[2016-12-27 09:07] vipkum2 opened #270 "I am using tcpreplay to send traffic . I know the -p option for packet per second, but I want to send packet per minute."
I am using tcpreplay to send traffic . I know the -p option for packet per second, but I want to send packet per minute.

[2016-12-30 18:18] fklassen commented on #270
Thanks for your request. Adding to feature request backlog.

[2017-01-02 01:11] asafshakedverint opened #271 "How to replay as accurate as possible ? or why getting "abstime is deprecated" ?"
Hi,

I'm trying to replay pcaps recorded accurately using tcpdump / netsniff-ng, using tcpreplay v4.1.2,
but I can tell from external trustworthy equipment, they weren't replayed accurately enough

I was following the timing tips here... http://tcpreplay.synfin.net/wiki/tcpreplay

"-T gtod" gave the same unsatisfying results as not using -T at all
"-T nano" gave poor results, as it stretched repla

[2017-01-03 16:24] fklassen commented on #271
`-T abstime` uses a deprecated method, i.e. a clock API that is no longer available.

Are you using PCAPNG files? Regular PCAP files only have usec resolution clocks. What amount of error are you seeing?

[2017-01-04 09:36] asafshakedverint commented on #271
Thanks for the advice regarding the format… I did not know that
I recorded again in nano-seconds supporting format, compared to previous recording with Wireshark & saw 3 more figures after the dot ☺

However results are still not good – It’s not a matter of errors, rather replay accuracy
I’m recording from external equipment, replaying recording to it & comparing – it shows differences all through

[2017-01-04 12:04] fklassen commented on #271
I did more investigation.

Instructions in http://tcpreplay.synfin.net/wiki/tcpreplay are outdated. Note that as of version 4.0, the new website is http://tcpreplay.appneta.com.

Version 4.0 is a total rewrite. I found that in newer OS X versions, the default system clock was faster than any other clock, and 'abstime' was deprecated. Also the TX mechanism was slow, so I re-wrote it.

In 4.0 and ne

[2017-01-08 22:17] asafshakedverint commented on #271
Thanks for tcpreplay “under the hood” ☺ indeed seems it shouldn’t be & probably not the cause of my issue

Regarding netsniff-ng, I got very good results capturing high bandwidth with it without packet loss
I’m no developer, but this flag “-N|--no-hwtimestamp  Disable hardware time stamping” suggests default is NIC/kernel timestamp, not ?
https://github.com/netsniff-ng/netsniff-ng/blob/master/tsta

[2017-01-09 16:03] fklassen commented on #271
Hardware timestamping is fast, but  not accurate. It is only supported on i350 and i210 GigE adapters, an x550 10GigE adapters. On others, it timestamps in user mode, at least from what I can see. I suspect that modern tcpdump with a large "-B" will be faster when not using hardware timestamping.

[2017-01-09 20:43] ckannan opened #273 "Ability to replace vlan tag by specifying a range would be nice.."
Currently I can replace a vlan tag on the pcap file like this to send packets...

tcpreplay-edit -i ens6f1 -t -K -l 0 --enet-vlan=add --enet-vlan-pri=0 --enet-vlan-tag=500 --enet-vlan-cfi=0 vlan_single.pcap

It would be nice if I can do ... "--enet-vlan-tag=500-510"

tcpreplay-edit -i ens6f1 -t -K -l 0 --enet-vlan=add --enet-vlan-pri=0 --enet-vlan-tag=500-510 --enet-vlan-cfi=0 vlan_single.pcap

[2017-01-13 21:49] ckannan opened #274 "Ability to edit both inner and outer vlan tags."
A captured packet has 2 vlan tags like this..

[root@localhost pcap]# tcpdump -nner vlan_double.pcap
reading from file vlan_double.pcap, link-type EN10MB (Ethernet)
-5:00:00.000000 3c:fd:fe:9e:10:09 > 3c:fd:fe:9c:c2:d9, ethertype 802.1Q (0x8100), length 1514: vlan 3333, p 0, ethertype 802.1Q, vlan 666, p 0, ethertype IPv4, 198.18.0.1.1234 > 198.18.1.1.5678: Flags [none], seq 129018:130470, win 102

[2017-01-31 04:01] cpackham opened #275 "cross-compilation fail with musl-libc"
Hi Fred,

Just reporting in from buildroot with a build failure for tcpreplay when using musl as the libc[1]

[code]

According to the musl FAQ[2] the fix is to avoid including linux/if_tun.h. Looks like thats what socat ended up doing [3]. If I get a chance I'll send a PR unless someone else fixes it first.

[1] - http://autobuild.buildroot.net/results/dde/dde54ccefa32af1f46a4af5b6caed822c3209dfc

[2017-01-31 04:50] fklassen commented on #275
Hi, I would appreciate a PR, but I don't want to disable the ability to replay on Tun/Tap devices. Possibly we can add a `./configure --disable-tun-tap` option. Better yet, we can try to find a way to support both on musl.

[2017-02-08 16:16] fklassen opened #278 "tcpcapinfo buffer overflow vulnerablily"
From Aromal Raj via `Tcprplay-users`

Hi,

This mail is to report a Buffer Overflow Vulnerability which i found in 'tcpcapinfo' utility which comes with latest Tcpreplay 4.1.2 version. This happens when tcpcapinfo process a specially crafted pcap file.

​Steps to reproduce:
raras@ubuntu:~$ tcpcapinfo bogus.pcap ​

Expected Output:
Invalid file should not be parsed.

Actual Output:
Buffer Overflow

[2017-02-08 17:32] RajUllas commented on #278
Attaching the POC files here for reference:

[bogus.pcap.txt](https://github.com/appneta/tcpreplay/files/761440/bogus.pcap.txt)
[gdb.log.txt](https://github.com/appneta/tcpreplay/files/761441/gdb.log.txt)
[valgrind.log.txt](https://github.com/appneta/tcpreplay/files/761439/valgrind.log.txt)

[2017-02-09 16:46] guillaume-u opened #279 "Unable to replay a pcap on a tap"
Hello,

Replay on a tap device, doesn't seems to work in v4.X (but it worked on v3.X) — at least on Gentoo distribution.

The result of **./configure** give me :
`Tuntap device support:      yes`

The result of **tcpreplay -V** :
[code]

To reproduce it, you can use this pcap [ptpv2.pcap](https://wiki.wireshark.org/SampleCaptures?action=AttachFile&do=get&target=ptpv2.pcap)

And execute these comma

[2017-02-27 01:59] fklassen commented on #248
close issue as answered

[2017-02-27 01:59] #248 closed

[2017-02-27 03:10] fklassen commented on #279
Hi Guillaume. Unfortunately I have to close this as "won't fix". It appears to be a bug in OpenSSL. I call the OpenSSL API `pcap_findalldevs` to get all the interfaces. There appears to be an issue where tap interfaces are not discovered by OpenSSL when running as super user.

Work around ... run `tcpreplay` as a regular user when compiled with a newer version of OpenSSL.

[2017-02-27 03:10] #279 closed

[2017-02-27 03:54] fklassen commented on #278
Unable to reproduce. Here is my error:

[code]

[2017-02-27 04:47] fklassen commented on #278
Added check for over-size packet corruption - #286

[2017-02-27 04:50] fklassen commented on #275
Closing as won't fix. Need to be able to detect musl inclusion automatically so we don't break other builds.

[2017-02-27 04:50] #275 closed

[2017-02-27 04:55] fklassen commented on #274
Deferring request until a later release. Is there a practical use for this? Although support for playback of such a packet has recently been added, usefulness of a `tcpreplay-edit` option seem impractical. The we would have to also support triple, quadruple etc. Where will it stop?

[2017-02-27 04:59] fklassen commented on #273
I don't understand what this enhancement would do. What would be the effect of "--enet-vlan-tag=500-510"? Need specifics.

[2017-02-27 04:59] fklassen commented on #271
close as resolved

[2017-02-27 04:59] #271 closed

[2017-02-27 07:48] fklassen commented on #270
#287 allow fractions for `--pps`, for example `--pps 0.25`

[2017-02-27 07:48] #270 closed

[2017-02-27 08:27] vipkum2 commented on #270
thanks if I want to send lets say 100 pks per minute then I need to do - --pps .100

[2017-02-27 13:09] fklassen commented on #257
Here is the original email regarding this issue:

Hello:

I am attempting to replay a pcap from within a VM over the local host connection to another VM on the same.

I have no trouble communicating between the two VMs, HTTP traffic, ICMP, SSH, TCP in general all gets through just fine.

The pcap I'm replaying is actually a replay of traffic captured between the two VMs

Details:

Host machine run

[2017-02-27 14:37] fklassen commented on #257
Unable to recreate in 4.1.2. I run these commands. As can be seen in the results capture on eth0, the first command sends 8 echo requests out eth0 primary interface. The second command sends 8 echo replies to eth0 secondary interface.

[code]

I'll close for now, but reopen if you can recreate the error.

[ping.cache.txt](https://github.com/appneta/tcpreplay/files/803915/ping.cache.txt)
[ping.pcap

[2017-02-27 14:37] #257 closed

[2017-02-27 15:05] fklassen commented on #270
Not so simple. For 100 packets per minute, you need 60 / 100. Specifically `--pps 0.6`.

[2017-02-27 19:18] fklassen commented on #269
#288 - Stats are printed when using `--stats=0` option. Examples:

[code]

[code]

[code]

[2017-02-27 19:18] #269 closed

[2017-02-27 19:21] fklassen commented on #262
fixed in #269

[2017-02-27 19:21] #262 closed

[2017-02-27 19:28] fklassen commented on #243
closing as per comments above

[2017-02-27 19:28] #243 closed

[2017-02-27 21:20] fklassen commented on #239
Fixed in #289

Examples:
[code]

[2017-02-27 21:20] #239 closed

[2017-02-27 21:26] fklassen commented on #250
I'll have another look at this. However, are you aware that you can pass multiple PCAP files in the command line parameters? That way you can run many PCAP files back-to-back without the interface going up and down.

[2017-02-28 00:37] fklassen opened #290 "netmap if up delay too short"
current default delay is 4 seconds, but find that with e1000e, more time is required.

[2017-02-28 04:30] vipkum2 commented on #270
OK Sir,
Thank you..

Regards,
Vipin

On Mon, Feb 27, 2017 at 8:35 PM, Fred Klassen <notifications@github.com>
wrote:

[2017-02-28 04:31] fklassen commented on #290
Default delay increased from 4 to 10 seconds.

[2017-02-28 04:31] #290 closed

[2017-02-28 04:38] fklassen commented on #245
Investigation - To many topics covered in this issue. I don't see anything here that will be supported anytime soon. Closing as "won't fix"

[2017-02-28 04:38] #245 closed

[2017-02-28 04:53] fklassen commented on #242
Unable to recreate. Please provide steps to reproduce.

[2017-02-28 05:58] fklassen commented on #190
Fixed in #294. UDP checksum updates are to be bypassed for fragments. Corrected the logic to do so.

[2017-02-28 05:58] #190 closed

[2017-02-28 06:06] fklassen commented on #210
There has been some rework to timing logic, mainly in #268. Also #269. This issue is hard to reproduce, so closing for now. Can be reopened if it fails in newer releases.

[2017-02-28 06:14] fklassen commented on #240
Closing. Create new issue and reference this if you need more info.

[2017-02-28 06:14] #240 closed

[2017-02-28 06:20] fklassen commented on #252
@epearce2 somehow this fell through the cracks. I don't recall seeing this question when you assigned it earlier.

My first question is, how large is the packet capture? I notice that you are using the `-K` command. That means that the entire packet capture must be loaded into memory before sending. If you have 4 instances running, the packet capture is loaded 4 times.

Also, I would be interested

[2017-02-28 07:17] fklassen commented on #250
Based on [this response to my question to netmap group](https://github.com/luigirizzo/netmap/issues/279#issuecomment-282961082), it appears that it is nearly impossible to do this. It certainly is impractical. Once the program closes, netmap will reset the interface.

Will close as invalid.

[2017-02-28 07:26] fklassen commented on #255
I did notice similar issues. Added delay before switching netmap to normal mode.

Example of fix, note that TX difference on eth5 shows that the number reported sent by tcpreplay was also reported by the driver.

[code]

[2017-02-28 07:26] #255 closed

[2017-02-28 07:35] fklassen commented on #249
OK, I think I understand. Appears to not be a bug. Closing for now.

[2017-02-28 07:35] #249 closed

[2017-03-02 20:33] abiryukov opened #296 "Enhance --unique-ip option to modify IPs every few loops in addition to every loop"
This would allow some control of new flows ratio vs traffic rate, while replaying the same file, providing more consistency in test setup.
Options for implementing could be:
* adding optional integer parameter to --unique-ip, indicating number of loops with keeping the same IP values (defaulting to a value for switching IPs at every loop)
* if that is undesirable, introducing a new option, for exa

[2017-03-03 15:32] fklassen commented on #296
@abiryukov we should discuss how this feature would be implemented.

* what would be the name of the option? e.g. `--ratio-unique-ip`
* what parameters would be passed to it? e.g. `1`
* what would be the be the behavior of this parameter? e.g. what happens when the parameter is `2`

[2017-03-04 16:55] fklassen commented on #24
Won't do. Too much confusion over what L1 is, especially in Ethernet. Do you add FCS, inter-frame gap, preamble? What size inter-frame gap is the adapter using? Could have the same packet considered to be 1514, 1518, 1524, 1538 ... and more.

[2017-03-04 16:55] #24 closed

[2017-03-04 16:57] fklassen commented on #39
Appears to have been fixed by other fixes. Closing.

[2017-03-04 16:57] #39 closed

[2017-03-04 17:03] fklassen commented on #153
@leonexis I am cleaning up my old requests. I think I understand the code well enough to take this on, but I do need a raw file.

The above links no longer exist. Do you have a smaller raw file?

[2017-03-04 17:17] fklassen commented on #237
You cannot replay TCP traffic to a server. The SYN  and SYN/ACK have starting sequence numbers that are random. If either end does not acknowledge the randomly-generated sequence number, the connection is reset. That means that previously-recorded traffic cannot directly replay TCP.

The only solution is to use `tcpliveplay`. It will take a single-flow TCP packet capture and replay it to a server.

[2017-03-04 17:17] #237 closed

[2017-03-04 18:40] fklassen commented on #296
Discussed further with @abiryukov offline. Issue is that optional arguments are not well supported across platforms, and additional options are not desirable in tcpreplay. Will attempt to make this work in a branch and then decide if this gets merged.

[2017-03-06 16:36] carnil commented on #278
This issue has been assigned CVE-2017-6429

[2017-03-06 17:16] fklassen commented on #296
Attempt at `--unique-ip-loops` option, but using float values:

*  `--unique-ip-loops=0` - invalid
*  `--unique-ip-loops=1` - default - packet modified every loop
*  `--unique-ip-loops=2` - packet modified every other loop
*  `--unique-ip-loops=1.5` - packet modified 2 out of 3 loops

Fractions will cause bursty flow traffic and is probably more valid for very small files. For now, will not fully

[2017-03-06 20:01] c-f-s-s commented on #210
Unfortunately, I can still reproduce this with v4.2.0-beta1.

[2017-03-06 20:54] leonexis commented on #153
I've looked everywhere I can think of and I can't find my copy of the pcap file, which is a shame. That was a really good set and it looks like it is nowhere to be seen now. As far as reproducing a raw IP pcap file, that might be done with tcprewrite, but it's been awhile since I've worked on the project that required it.

I think just mentioning to or warning the user that the pcap file is unsupp

[2017-03-06 21:55] fklassen commented on #153
@leonexis Leo, thanks for looking. I'll have a look at getting a warning for unsupported formats for version 4.2.

[2017-03-06 22:02] fklassen commented on #210
Reopening. Thanks for testing.

[2017-03-07 23:30] fklassen opened #299 "Add Code Climate support"
Show the current code climate in README.md

[2017-03-09 14:41] fklassen opened #302 "Add --fuzz as per GabrielGanne"

[2017-03-13 15:18] fklassen commented on #210
@c-f-s-s I have tried again to reproduce this on both Linux and FreeBSD. I don't have access to 10GigE for FreeBSD, but I did run for over 10 hours on a GigE network. Cannot reproduce.

I looked at the code, and the only thing I found is that the issue could happen if this is a 32-bit machine. Can you send me the output of `uname -m`, and the `config.h` file?

Fred.

[2017-03-14 12:37] c-f-s-s commented on #210
I tried reproducing on my systems igb 1G motherboard port and couldn't there either. I can reproduce it on our 40G card, though.

I had to change the file extension to txt because github didn't like .h...

uname -m output:
amd64

[config.txt](https://github.com/appneta/tcpreplay/files/841280/config.txt)

[2017-03-14 14:17] fklassen commented on #210
Yes, it is amd64. I guess I have to get some of my 10GigE hardware booted up on FreeBSD. I wonder if netmap has anything to do with it.

If you ever try a test again with the latest beta, I am trying to get a screen shot of before/after the failure when using the  `--stats=X` command. Note that `--stats=0` is now supported and will report every loop, which is handy when using large PCAP files.

[2017-03-14 14:17] fklassen commented on #210
Oh yes, definitely have confirmed that tcpreplay has detected your system as 64-bit.

[2017-03-14 16:00] c-f-s-s commented on #210
Testing with beta1 and the --stats flag set to 5 seconds.

I've attached a txt file with the piped output. Interestingly, at the point at which my capture device indicates traffic is coming in at line-rate (3,690 seconds in) the --stats output only indicates a small incremental increase of about 1 Mb per second. As opposed to the reality, which is that it's a straight-shot from 5 Gbps to 10.

[out

[2017-03-14 19:21] fklassen commented on #210
Wow, I was expecting a sudden jump. I've never seen that before. It sounds like an integer math issue. I'll look into it.

[2017-03-15 17:45] fklassen opened #305 "Fix code issues found by Coverity"
Many defects reported here https://scan.coverity.com/projects/appneta-tcpreplay

[2017-03-16 21:21] fklassen commented on #305
fixed in #307

[2017-03-16 21:21] #305 closed

[2017-03-16 21:23] fklassen opened #313 "Add MAC rewrite capabilities"
As per PR #298 as per @pedroarthur

[2017-03-17 01:38] fklassen commented on #313
Merged from staging to Release 4.2 branch in #314

[2017-03-17 01:38] #313 closed

[2017-03-17 02:38] fklassen commented on #302
PR in #315

[2017-03-17 02:53] fklassen opened #316 "Feature --fuzz fails test on OS X"
See #315 PR and failed build [here](https://travis-ci.org/appneta/tcpreplay/builds/211984459)

I can `sudo make test` on Linux, but on OS X I get ...

[code]

[2017-03-17 03:00] fklassen opened #317 "Feature --fuzz distribution fails to build"
Steps to reproduce...

[code]

[2017-03-17 03:05] fklassen commented on #299
Also added [Coverity](https://scan.coverity.com/projects/appneta-tcpreplay). To rescan, create a PR and merge into `coverity_scan`.

[2017-03-17 03:05] #299 closed

[2017-03-17 03:36] fklassen commented on #317
Added `fuzzing.h` to distribution in #319

[2017-03-17 03:50] fklassen commented on #316
Looking at the files, it appears that the average packet size is different. First the working Linux file...

[code]

Here is the failing OS X file...
[code]

[2017-03-17 04:31] fklassen opened #320 "Fuzz documentation is `fuzzy`"
See #302 and PR #315.

Man page describes that it alter 1 in 8 random packets, but does not specify how the packet is altered. This needs to be clarified in both summary and detailed description.

[code]

Also, `This fuzzing was designed as to test high-level protocols` should be clearer. Is it Layer 7?

[2017-03-17 09:43] #320 closed

[2017-03-17 09:45] fklassen commented on #316
Not sure why this got closed. Reopening.

[2017-03-17 11:26] fklassen commented on #210
@c-f-s-s thanks for hanging in there. I am quite sure I have this fixed, and I also improved accuracy of some of the stats calculation. I hard coded the exact state that your machine was in just before it failed, and I could reproduce the issue within seconds, every time.

The issue is fixed in the second commit.

I will create 4.2-beta2 release soon so you can test.

[2017-03-17 11:26] #210 closed

[2017-03-17 11:37] fklassen opened #325 "Create 4.0.2-beta2 release"

[2017-03-17 12:15] fklassen commented on #250
Reopen. Asking for a feature in Netmap that would allow it.

[2017-03-17 19:48] c-f-s-s commented on #210
I can no longer reproduce in the second beta! Thanks very much for looking into this!

I noticed it's printing out every loop now though (I don't have the --stats flag on) like this:

Loop 1615 (1 unique)...
Loop 1616 (1 unique)...
Loop 1617 (1 unique)...
Loop 1618 (1 unique)...

don't think the last beta did this. Wanted to point it out in case it was test output you accidentally left in or somet

[2017-03-17 19:59] fklassen commented on #210
@c-f-s-s glad that worked for you.

I don't see that issue. Can you send me the command-line parameters you used to recreate it?

[2017-03-17 20:26] fklassen opened #329 "Extraneous data printed on loop"
As of 4.2-beta2 we get the following...

[code]

[2017-03-17 21:45] fklassen commented on #329
This issue only appears when using `-l0`.

[2017-03-17 22:08] #329 closed

[2017-03-17 22:09] #325 closed

[2017-03-18 02:52] fklassen commented on #316
I feel I understand why this not working. Looking at https://github.com/appneta/tcpreplay/blob/Feature_302_fuzz_option/src/tcpedit/fuzzing.c#L19 I see that the `--fuzz-seed` parameter feeds a random number generator. Feeding the same seed will give consistent results run over run, but only for a given platform. OS X obviously uses the seed differently, and implements it's own random number generat

[2017-03-18 03:24] fklassen commented on #296
Working in Release4.2

[2017-03-18 03:24] #296 closed

[2017-03-18 03:32] fklassen opened #333 "Option --fuzz corrupts packets"
The attached capture was created with the test on OS X. Original file is `test.pcap`, which distributes with source code.

Notice that the packet 15 has changed from an IP packet to an invalid Ethernet II.

Most likely this is because [this TODO](https://github.com/appneta/tcpreplay/blob/Feature_302_fuzz_option/src/tcpedit/fuzzing.c#L81) was never implemented.

[test.rewrite_l7fuzzing1.pcap](https

[2017-03-18 03:35] fklassen commented on #333
@GabrielGanne can you comment on this? Is it expected that IP packets can be converted to something else?

I may be able to merge to Release_4.2 without this addressed.

[2017-03-18 06:39] GabrielGanne commented on #333
Hi @fklassen ,

You are correct: fuzzing can indeed change any Byte, including ethertype.
I'm afraid I had forgotten this TODO ...

This is an idea I had which differs from what we would do at my work (dpi) : since most people do not care about code branches for many different protocols, editing the low-level protocol Bytes would result in dropping the packet instead of changing the course of the

[2017-03-18 06:48] fklassen commented on #333
@GabrielGanne, not a problem. My preference is to hold off 4.2 to get this feature in.  But if you don't have time to do this, I could release 4.2 (scheduled for Monday) and then release a 4.2.1 when you are ready.

As for updates, feel free to make a PR into my `Feature_302_fuzz_option` branch. Or easier still, just make a PR to my master branch. I found I can edit the PR and push to the branch o

[2017-03-18 20:40] fklassen commented on #317
Reopening. Decided that `--seed` & `--fuzz-seed` should be consistent across platforms. This requires a new pseudo-random number generator.

[2017-03-18 20:46] fklassen commented on #317
Opened wrong issue

[2017-03-18 20:46] #317 closed

[2017-03-18 20:47] fklassen commented on #316
Reopening. Decided that --seed & --fuzz-seed should be consistent across platforms. This requires a new pseudo-random number generator.

[2017-03-19 17:25] #316 closed

[2017-03-20 15:24] #333 closed

[2017-03-20 22:42] #302 closed

[2017-03-20 22:44] fklassen commented on #153
Hold for future release. Waiting for a raw PCAP.

[2017-03-20 22:45] fklassen commented on #242
Closing. Unable to reproduce

[2017-03-20 22:45] #242 closed

[2017-03-22 19:50] c-f-s-s opened #346 "--unique-ip flag no longer seems to be effective"
This issue seems to have been introduced in v4.2 (my 4.1.2 systems with identical hardware do not reproduce).

When I run tcpreplay as such:

sudo tcpreplay-edit -i ix1 --unique-ip --netmap -M 5000 -K -l 0 <replay file>

and capture only traffic matching an IP pair filter (based off of an IP pair in the original pcap) I find that I continuously receive traffic matching this filter. I've tested thi

[2017-03-22 20:08] fklassen commented on #346
@c-f-s-s I'll try to reproduce tonight. Thanks for catching this.

[2017-03-23 08:45] fklassen opened #348 "Unable to report rates < 1Mbps"

[2017-03-23 08:46] fklassen commented on #346
Target for 4.2.1

[2017-03-23 09:08] fklassen opened #351 "Need to bump Copyright from 2016 to 2017"

[2017-03-23 09:10] #346 closed

[2017-03-23 09:20] #351 closed

[2017-03-29 14:29] theirix opened #353 "Missing symbol _pcap_version on macOS 10.12.4"
Hello! Got an error for tcpreplay running on a latest macos due to missing pcap symbol. The same binary worked well on a previous version 10.12.3.

Error:
`dyld: Symbol not found: _pcap_version
  Referenced from: /Users/irix/Downloads/tcpreplay-4.2.1/./src/tcpreplay
  Expected in: /usr/lib/libpcap.A.dylib
 in /Users/irix/Downloads/tcpreplay-4.2.1/./src/tcpreplay
zsh: abort      ./src/tcpreplay`

T

[2017-03-29 15:45] fklassen commented on #353
@theirix it appears that your libpcap install is messed up. On my machine, `config.log` contains this...

[code]

... but on your machine you are picking up a copy of libpcap in `/usr/lib`

[code]

So, there appears to be a non-standard install of libpcap on your system. Not sure how it got there. If you used Home Brew it would be installed in `/usr/local` not `/usr`. Note that on MAC, you should

[2017-03-30 10:02] theirix commented on #353
@fklassen just to clarify things – I just updated all my tools (xcode was a version behind of command line tools). MacOS for several years at least stores the same copies of `/usr/include` in `/usr` and in  `/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.12.sdk/usr`. So it should not be a problem. Library `libpcap.A.dylib` is stored only in `/usr/lib`

[2017-03-30 11:52] fklassen commented on #353
@theirix thanks for clarifying. Seeing your patch, I can understand how my machine accepts the compile and yours does not.

I'll test on a new installation and schedule for next bug release.

[2017-03-30 14:05] #348 closed

[2017-04-02 03:35] fklassen commented on #353
released fix in [v4.2.2-beta1](https://github.com/appneta/tcpreplay/releases/tag/v4.2.2-beta1). Will release with a week.

[2017-04-02 05:56] theirix commented on #353
Great, thank you!

[2017-04-08 20:38] fklassen commented on #250
based on response https://github.com/luigirizzo/netmap/issues/279 this feature cannot be implemented

[2017-04-08 20:38] #250 closed

[2017-04-08 21:42] fklassen commented on #353
Fixed in 4.2.2

[2017-04-08 21:42] #353 closed

[2017-04-13 05:13] fklassen opened #356 "Build fails on Ubuntu 12.04 32-bit"
Cannot run configure. Can work around it with `./configure --host=i386-linux-gnu`

[2017-04-13 05:15] fklassen opened #357 "Remove support for Quick TX"
Developer of Quick TX is not updating. Too many bugs are showing up in newer kernels, so archiving this feature.

[2017-04-17 17:20] patricia93sousa opened #359 "Error tcpreplay_opts.h"
I'm trying to make and make install this but, after:

and

Then, I make:

" , but i got the error:

[code]

[2017-04-17 18:08] fklassen commented on #359
What platform are you on? Do you plan to do development? If not, you should get a copy of the release from SourceForge or https://github.com/appneta/tcpreplay/releases. It doesn't required building of man pages, `configure` etc. It doesn't get this error.

If you plan to do development work, you will have to set up your local machine properly. It looks like your local copy of `libopts` is incompat

[2017-04-18 15:34] #359 closed

[2017-04-19 16:22] patricia93sousa commented on #359
I install the release and it works. Thanks.

[2017-04-20 06:20] fklassen commented on #253
Dropping support for Quick TX until a maintainer becomes available #357

[2017-04-20 06:20] #253 closed

[2017-04-20 06:21] fklassen commented on #244
Dropping support for Quick TX until a maintainer becomes available #357

[2017-04-20 06:21] #244 closed

[2017-04-20 06:21] fklassen commented on #183
Dropping support for Quick TX until a maintainer becomes available #357

[2017-04-20 06:21] #183 closed

[2017-04-20 06:22] fklassen commented on #171
Dropping support for Quick TX until a maintainer becomes available #357

[2017-04-20 06:22] #171 closed

[2017-04-20 06:22] fklassen commented on #169
Dropping support for Quick TX until a maintainer becomes available #357

[2017-04-20 06:22] #169 closed

[2017-04-20 06:23] fklassen commented on #356
Fixed in release v4.2.3.

[2017-04-20 06:23] #356 closed

[2017-04-20 06:23] fklassen commented on #357
Fixed in release v4.2.3

[2017-04-20 06:23] #357 closed

[2017-04-26 23:54] fklassen opened #362 "Fix typos"
Lintian found the following typos:

[code]

[2017-05-02 00:05] fklassen opened #364 "armel/armhf/mips*: L7 fuzzing test: Makefile:963: recipe for target 'rewrite_l7fuzzing' failed"
See https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=861539

Related to new Fuzz feature, fails tests on some platforms.

[code]

[2017-05-02 00:10] fklassen opened #365 "More lintian typos"
Lintian discovered 2 more typos:
* Embeded
* Buliding

[2017-05-02 00:20] fklassen commented on #365
fixed

[2017-05-02 00:20] #365 closed

[2017-05-02 00:21] fklassen commented on #364
Sayeth Christoph Biedl:

[code]

[2017-05-02 01:22] fklassen opened #368 "Compiler warnings on older distributions"
On Ubuntu `jauntry` 9.04 the noticed the following warning, probably from #298.

[code]

[2017-05-02 03:38] fklassen commented on #364
Compiled `armel` with 3.4.3 source from Debian source package. It appears that tests were not even close to passing on that platform:

[code]

[2017-05-02 18:45] #368 closed

[2017-05-02 20:52] #362 closed

[2017-05-02 20:53] fklassen opened #371 "Add ability to specify fuzz ratio"

[2017-05-02 20:54] fklassen opened #372 "Fuzz should not be overwritting Layer 3"
Only payload should be updated

[2017-05-02 21:24] fklassen commented on #372
Fixed in #373

[2017-05-02 21:25] fklassen commented on #372
Fixed in #373

[2017-05-02 21:25] #372 closed

[2017-05-02 21:25] fklassen commented on #371
Fixed in #373

[2017-05-02 21:25] #371 closed

[2017-05-02 21:25] fklassen commented on #364
Fixed in #373

[2017-05-02 21:25] #364 closed

[2017-05-02 22:16] fklassen opened #374 "New Coverity static analysis issues uncovered"
It appears there is an update to Coverity. New issues uncovered.

[2017-05-05 00:14] fklassen opened #380 "AFL detects potential security crash in fuzz feature"
Steps to reproduce (provided by Christoph Biedl)

* download, compile and install [american fuzzy lop](http://lcamtuf.coredump.cx/afl/)
* compile with afl `CC=/usr/local/bin/afl-gcc ./configure --disable-shared && make`
* copy `test/test/pcap` into `/tmp/indir`
* run `afl-fuzz -i /tmp/indir -o /tmp/findings src/tcprewrite -i @@ -o /dev/null --fuzz-seed=42`

Finds several crashes and generates samp

[2017-05-05 00:18] fklassen commented on #374
fixed in #377

[2017-05-05 00:18] #374 closed

[2017-05-05 00:19] fklassen opened #381 "Confusing help message in tcprewrite man pages"
-r string, --portmap=string
           Rewrite TCP/UDP ports.  This option may appear up to -1 times.

[2017-05-05 03:21] #380 closed

[2017-05-05 04:06] #381 closed

[2017-05-05 05:48] fklassen opened #385 "Issues found with scan-build"
[code]

[2017-05-05 07:10] fklassen commented on #385
Resolved in #386

[2017-05-07 00:16] fklassen commented on #385
More issues found. Reopening

[2017-05-08 23:05] #385 closed

[2017-05-09 14:35] fklassen opened #393 "Tests fail on sparc64"
On Debian packaging servers, all platforms perform tests cleanly except for sparc64.

[code]

[2017-05-09 22:31] cbiedl commented on #393
Likely reason is an unaligned memory access in edit_packet.c:177

gdb on a sparc64 shows:

    Program received signal SIGBUS, Bus error.
    0x000001000001157c in randomize_iparp (tcpedit=0x1000016f510, pkthdr=0x7fefffff140,
	pktdata=0x10000192b90 "\377\377\377\377\377\377", datalink=1) at edit_packet.c:977
    977	        tempip = randomize_ipv4_addr(tcpedit, *ip);
    (gdb) bt
    #0  0x0000010

[2017-05-09 22:34] cbiedl commented on #393
where `ip` is a *pointer* to a 32bit value ...

[2017-05-09 22:51] fklassen commented on #393
@cbiedl, that puts me in the ballpark. I'll probably will have a look tonight.

Unfortunately my sparc64 grew legs. I'll see if I can get a qcow2 image for testing.

[2017-05-10 17:36] fklassen commented on #393
@cbiedl I have an [un-tested release](https://github.com/appneta/tcpreplay/releases/tag/v4.2.6-beta1) for you. Can you try it out? Thanks.

[2017-05-10 18:31] cbiedl commented on #393
Errm, please replace `iptemp` with `tempip` so it actually builds. You can verify this on arm* as well.

After that change, the tests pass on sparc64 and armhf here.

[2017-05-10 20:04] fklassen commented on #393
@cbiedl duh ... try beta2

[2017-05-11 15:13] fklassen commented on #393
Tested [beta2](https://github.com/appneta/tcpreplay/releases/tag/v4.2.6-beta2) on armel.  Cannot find sparc64 to test on.

[2017-05-15 22:01] cbiedl commented on #393
Confirmed: Build for Debian (i.e. with tcpreplay test disabled as it requires root) now passes on all tested architectures: amd64, armhf, sparc64
Sorry for the belate answer, I'm stuck in security-related issues somewhere else.

[2017-05-15 22:02] fklassen commented on #393
@cbiedl no problem. I will release 4.2.6 within the next 24 hours.

[2017-05-15 22:05] #393 closed

[2017-05-16 13:11] nickwallen commented on #81
Are up-to-date instructions documented anywhere else besides this issue?  I have been looking, but have not found any.

[2017-05-16 15:08] fklassen commented on #81
No need to document different flavors of`libpcap`. PF_RING implemented in libpcap makes its use transparent.

Help for the `./configure --with-libpcap=` is available with `./configure -h`

[2017-05-16 15:36] nickwallen opened #395 "Build Tcpreplay with PF Ring's Libpcap: `PF_RING libpcap no`"
How can I verify that tcpreplay is using the PF_RING version of libpcap correctly?  When I run the configure script it reports `PF_RING libpcap             no`.   I would expect it to read `yes`.   Any tips?

Here are the steps that I have taken on a host running CentOS 7.2.  First, I installed PF_RING along with its libpcap library.
[code]

Then I download the tcpreplay source code and attempt to

[2017-05-16 15:36] nickwallen commented on #81
Many thanks @fklassen.  I opened #395 with a more detailed question on this topic.

[2017-05-16 15:42] nickwallen commented on #395
Here is my config.log
[config.log.txt](https://github.com/appneta/tcpreplay/files/1005033/config.log.txt)

[2017-05-16 15:55] fklassen commented on #395
Logging as a bug. It is not reporting PF_RING when in fact it is being used.

This bug will not get scheduled for a while. I just released 4.2.6, and am planning a code freeze once Debian/Ubuntu packaging has stabilized.

[2017-05-16 16:01] nickwallen commented on #395
Is there any work around?  Can I edit the configure script to always assume PF_RING just so I can get this built?

[2017-05-16 16:55] nickwallen commented on #395
I traced through the configure script.  If I use the ` --enable-static-link` flag, I can work around this issue.

[code]

[2017-05-16 16:58] nickwallen commented on #81
@fklassen Even if the documentation says something to that effect, it would be helpful to users.

[2017-05-16 19:15] nickwallen opened #396 "Tcpreplay with PF_Ring ZC - Failed to open device zc:enp129s0f1"
I was able to build tcpreplay against PF_Ring ZC libpcap.  I outlined the steps in #395 .  Now when I try to run using the "zc:eth0"-style naming convention that I see used in #117, tcpreplay fails with the following error.

[code]

It seems like my PF_Ring install is OK, since I am able to use their `zsend` utility.

[code]

Is there another step I need to take with tcpreplay so that it can use t

[2017-05-16 20:50] fklassen commented on #396
Try not using the `zc:` suffix. The idea of using a modified libpcap is that the program you compile against (in this case Tcpreplay) does not not have to be aware of underlying media. The `zc:` suffix can only be recognized by programs that are specifically written for PF_Ring.

This is the line that is causing the failure https://github.com/appneta/tcpreplay/blob/master/src/common/sendpacket.c#L

[2017-05-16 20:56] fklassen commented on #395
Thanks. I'll add that to a README.

Please let me know what performance you get. Last time I tried I got marginally better performance, probably due to some issues deep inside PF_Ring. I have been considering trying again with a newer version to see if performance has been improved. I would expect wire rates at 10GigE +.

[2017-05-26 04:01] TangMonk opened #398 "Fatal Error: poll() timeout... tcpdump seems to be having a problem keeping up"
[code]

this is my pcap file: https://www.dropbox.com/s/gcqdgn4rbwcax62/3.pcap?dl=0

[code]

[2017-05-26 16:02] fklassen commented on #398
This is a long-standing bug from before I took over the project. If I understand the history, changes in `tcpdump` brought on this error. I'll investigate for 4.2.7.

[2017-05-26 16:03] fklassen commented on #398
[3.pcap.txt](https://github.com/appneta/tcpreplay/files/1032410/3.pcap.txt)

[2017-06-02 10:03] Mathlp40 opened #401 "TCPReplay won't replay pcap modify by scapy"
Hi team,
I have a problem with tcpreplay when I modify pcap file with Scapy.
for example I take a trace from 8 pings with tcpdump where IP host is : 192.168.1.2 and IP dest is : 8.8.8.8
In this case, tcpreplay works (really good).

But, if I want to use the same pcap and just change the IP dest,, in my case, I made a script with scapy to change the IP destination of all packets in the pcap file.
N

[2017-06-02 10:32] koreamalware opened #402 "Negative-size-param memset in dlt_radiotap_get_80211"
Hi.

I found Crash in tcprewrite

Please confirm.

OS: Ubuntu 16.04.2 32bit
To reproduce: ./tcprewrite -i dlt_radiotap_get_80211 -o /dev/null
tcprewrite version: 4.2.6 (build git:v4.2.6)
Copyright 2013-2017 by Fred Klassen <tcpreplay at appneta dot com> - AppNeta
Copyright 2000-2012 by Aaron Turner <aturner at synfin dot net>
The entire Tcpreplay Suite is licensed under the GPLv3
Cache file suppor

[2017-06-02 15:47] fklassen commented on #401
Hi, if you are replaying to a switch, chances are it is dropping the packets. Try connecting a network cable directly to your tcpdump/capture station.

[2017-06-02 15:56] fklassen commented on #402
Thanks for the bug report. I have reproduced the error.

[2017-06-09 00:01] koreamalware commented on #402
Hi

Can you tell me the bug patch(commit) plan?

Thanks.

[2017-06-09 15:50] fklassen commented on #402
This bug has not been scheduled. We just released a large set of fixes, and probably will not be scheduling any more fixes this summer. If you consider this high priority and a blocker to your work, I can try to move this up.

[2017-06-09 15:56] fklassen opened #404 "tcpprep -x option issue"
As reported in tcpreplay-users@lists.sourceforge.net mail list:

tcpreplay version: 4.1.0 (build git:v4.1.0)

This is from the tcpprep man page

[code]
Emphasis mine.

After doing all this, to the attached capture:

[code]

I would expect only packets 4-16,21-33 to be modified and/or given a direction in the cache. But they all have and there is nothing indicating that it will not replay everythin

[2017-06-10 03:30] qhdwns123 commented on #402
Hi.

Thank you for answer.

Since this is not a critical problem, Do as you please.

Thanks.

[2017-06-10 03:31] koreamalware commented on #402
Hi.

Thank you for answer.

Since this is not a critical problem, Do as you please.

Thanks.

[2017-06-10 10:42] gy741 opened #405 "stack-buffer-overflow in tcpcapinfo"
Hi.

I found Crash in tcpcapinfo

Please confirm.

PoC : [Download](https://github.com/gy741/PoC/raw/master/poc)

Thanks.

OS: Ubuntu 16.04.2 32bit
To reproduce: ./tcpcapinfo poc
tcpcapinfo version: 4.2.6 (build git:v4.2.6-4-g54da347)
Copyright 2000-2010 by Aaron Turner <aturner at synfin dot net>
The entire Tcpreplay Suite is licensed under the GPLv3

valgrind Information:
--------------
[code]

[2017-06-10 14:53] fklassen commented on #405
I see a different error. My error suggests (correctly) that the file has ended abruptly.

What is the output of `tcpcapinfo -V`? What is your platform?

[code]

[2017-06-10 14:59] gy741 commented on #405
Did you build Asan?

No output in no-Asan build .

OS: Ubuntu 16.04.2 32bit
tcpcapinfo version: 4.2.6 (build git:v4.2.6-4-g54da347)
Copyright 2000-2010 by Aaron Turner
The entire Tcpreplay Suite is licensed under the GPLv3

[2017-06-10 15:15] fklassen commented on #405
@gy741 pardon my ignorance. What is Asan?

[2017-06-10 15:23] gy741 commented on #405
AddressSanitizer (aka ASan) is a memory error detector for C/C++.

You can enable Asan bulid by installing clang and enabling the "fsanitize=address" option.

My compile command: CFLAGS="-fsanitize=address -ggdb3" CXXFLAGS="fsanitize=address -ggdb3" LDFLAGS="-fsanitize=address -ggdb3" ./configure --disable-local-libopts --disable-libopts-install && make

Reference: https://github.com/google/saniti

[2017-06-10 15:36] fklassen commented on #405
Thanks for the insight. I think I can use that in other projects. I have found lots of issues with clang static code analysis. I'm sure I'll find more with ASan.

It will take some work to get this to work in my dev environment. I am on Debian 7 and have to add `CC=clang` to your command.

[code]

[2017-06-10 15:47] gy741 commented on #405
Security researchers are using ASan a lot.

The tcpreplay tool is a great tool.

Please let me know if PoC reproduction fails.

I will provide you with a virtual machine.

Thanks.

[2017-06-12 17:14] attritionorg commented on #405
This looks very similar to https://github.com/appneta/tcpreplay/issues/278 but that was patches. Wondering if it is the same issue but the previous patch was incomplete?

[2017-06-12 18:09] fklassen commented on #278
Reopening as per #405

[2017-06-12 18:09] fklassen commented on #405
@attritionorg thanks. Reopening #278

[2017-06-12 21:45] cbiedl commented on #405
Please consider an additional size check as below. It avoids the crash for and also several more found by afl. Also, please make the buffer size a constant.

[code]
Cheers,
    Christoph

[2017-06-13 17:09] fklassen commented on #405
@cbiedl thanks. I'll try it out this weekend.

[2017-06-27 08:23] diper opened #406 "Rewrite zero IPv4 total length field to match the actual packet length"
It is possible?

[2017-06-27 14:38] fklassen commented on #406
It's possible. Is there a need for it? How would it be used?

[2017-06-28 09:54] diper commented on #406
This is needed for fixing pcap files captured with TCP segmentation offloading. Like done in #247

[2017-06-28 16:28] fklassen commented on #406
Sounds good. Will schedule work for a future release. Right now we are in a code freeze. Will probably start enhancements again in the Fall.

[2017-07-01 16:02] gy741 opened #407 "heap-buffer-overflow in flow_decode"
Hi.

I found heap-buffer-overflow testcase.

Memory corruption occur in the ASan environment or Valgrind.

PoC Download: [PoC](https://github.com/gy741/PoC/raw/master/flow_decode)

Please confirm.

tcpreplay version: 4.2.6 (build git:v4.2.6-4-g54da347)
OS: Ubuntu 16.04.2 32bit
Command: ./tcpreplay -i lo  $FILE

Thanks.

[code]

[2017-07-01 16:36] gy741 opened #408 "heap-buffer-overflow in get_l2len"
Hi.

I found heap-buffer-overflow testcase.

Memory corruption occur in the ASan environment or in Valgrind.

PoC Download: [PoC](https://github.com/gy741/PoC/raw/master/get_l2len)

Please confirm.

tcpreplay version: 4.2.6 (build git:v4.2.6-4-g54da347)
OS: Ubuntu 16.04.2 32bit
Command: ./tcpprep --auto=bridge --pcap=$FILE --cachefile=/dev/null

Thanks.

[code]

[2017-07-01 16:40] gy741 opened #409 "heap-buffer-overflow in packet2tree"
Hi.

I found heap-buffer-overflow testcase.

Memory corruption occur in the ASan environment or Valgrind.

PoC Download: [PoC](https://github.com/gy741/PoC/raw/master/packet2tree)

Please confirm.

tcpreplay version: 4.2.6 (build git:v4.2.6-4-g54da347)
OS: Ubuntu 16.04.2 32bit
Command: ./tcpprep --auto=bridge --pcap=$FILE --cachefile=/dev/null

Thanks.

[code]

[2017-07-01 16:43] gy741 opened #410 "heap-buffer-overflow in get_l2protocol"
Hi.

I found heap-buffer-overflow testcase.

Memory corruption occur in the ASan environment or Valgrind.

PoC Download: [PoC](https://github.com/gy741/PoC/raw/master/get_l2protocol)

Please confirm.

tcpreplay version: 4.2.6 (build git:v4.2.6-4-g54da347)
OS: Ubuntu 16.04.2 32bit
Command: ./tcpprep --auto=bridge --pcap=$FILE --cachefile=/dev/null

Thanks.

[code]

[2017-07-03 12:20] rmstoi opened #411 "tcpreplay fails to open already allocated tap0 device"
Hi,

I've been using tcpreplay with the Zephyr Project RTOS
https://github.com/zephyrproject-rtos/zephyr

tcpreplay version 4, provided from the package repositories (Debian, Ubuntu, Fedora)  does not work anymore with the TAP interface. The last working version is tcpreplay 3.4.4.

The problem is that tun network device allocation (/dev/net/tun) is done by tunslip6.c in Zephyr net-tools before tc

[2017-07-03 16:22] fklassen commented on #411
Will investigate for next release

[2017-07-03 16:23] fklassen commented on #410
Will investigate for next release.

[2017-07-07 08:32] dziegel opened #412 "Minor compile issues on Cygwin"
tcpreplay-4.2.5.tar.gz on cygwin:

1) Instructions to compile are wrong on website in "Special Instructions for Windows" section - one should unpack winpcap to /wpdpack and simply run ./configure. Using "--with-libpcap=..." breaks the configure run, it won't detect libpcap.

2) sendpacket.h needs to be changed not to #include <netinet/if_ether.h>, e.g.:
[code]

Apart from this, compiling it works

[2017-07-07 14:57] fklassen commented on #412
Thanks for the bug report. Scheduled for next release.

[2017-07-27 17:11] sadir commented on #398
Hi @fklassen! Any updates on this? I've just started playing with tcpreplay and I'm stumbling across this error.

[2017-07-27 18:24] fklassen commented on #398
I had a quick look, and am concerned about comments from the previous maintainer. It appears that a fix has been attempted, but failed.

I have a backlog of bugs that need lots of testing and am deferring to Sept. We have a code freeze going on right now as we are attempting to get a higher level of stability for current and upcoming Debian/Ubuntu releases. Once stability is achieved, we plan to d

[2017-07-27 18:49] sadir commented on #398
Thank you for the quick reply and concise, clear answer! I won't chase any further but do please update as and when you have something to share.

[2017-08-02 00:59] cbiedl opened #413 "typo in manpage: genereated -> generated"
Hi there,

Debian's lintian check learned new words and found a typo as indicated. Please fix when appropriate.

Cheers,
    Christoph

[2017-08-05 14:27] fklassen opened #414 "tcpprep TCPDUMP_POLL_TIMEOUT error"
Reported in mail list. Apparently this only happens with the `--verbose` flag. The version was not reported ...

I have a couple of pcaps that I am trying to generate a cachefile from, but each time I run tcpprep it errors saying:

[code]

This is occurring with a number of different pcaps that have been created using both tcpdump and wireshark.

Is there any additional troubleshooting I can perfo

[2017-08-05 17:22] petegallagher commented on #414
Hi Fred, thanks for responding. The version I'm using is 4.2.5.

This is actually a secondary issue to my current blocker, I think. Without using the `--verbose` flag the command completes successfully. However whenever I use the resultant cache file as an input to `tcprewrite` I get the following error:

[code]

I then tried using the `--verbose` flag to get more information and incorrectly thoug

[2017-08-05 21:04] petegallagher opened #415 "tcpprep with pcap containing >1020 packets produces invalid cache file"
**Version: 4.2.5**

### Steps to reproduce

1. Using a pcap file containing >1020 packets e.g.:

[code]

2. Call `tcpprep` using auto-split mode e.g.:

[code]

3. Call `tcprewrite` using cache file above e.g.:

[code]

4. Error is displayed on console e.g.:

[code]

### Description

When running `tcpprep` with a large pcap file (my example is ~4GB, containing 5763149 packets) it appears as though

[2017-08-10 22:48] bugg1 commented on #414
Hello Fred,
 I'm also hitting this issue, I've found that the issue occurs when I try to process a PCAP with more than 1024 packets.

I have tried recompiling with a significant TCPDUMP_POLL_TIMEOUT to no avail.
Similar to what Pete has observed, I found is that while the process exits without error if I omit the `--verbose` flag, the cache file is invalid if I verify it with `tcpprep --print-stat

[2017-08-10 23:20] fklassen commented on #414
@bugg1 thanks for investigating. I'll see if I can get someone on this, otherwise I will have to work around my vacation schedule. I suspect I will have time starting in 2 weeks.

[2017-08-11 04:59] petegallagher commented on #414
@bugg1 FYI I raised a 2nd bug report for the exact issue you are facing (#415). I will post a workaround in that issue thread.

[2017-08-11 05:06] petegallagher commented on #415
As a workaround I adjusted the `CACHEDATASIZE` in `common/cache.h` to be larger than my total number of packets divided by 4. For example `5763149 / 4 = 1440787.25`, so my `CACHEDATASIZE=1450000`. If I recompile with this value then everything works as expected with my sample capture.

[2017-08-11 14:40] fklassen commented on #415
@petegallagher Thanks for digging into this. I plan to finalize a fix for next release which will probably be before the end of the month.

[2017-09-16 00:41] jklm7 opened #417 "Tcpreplay with --netmap option never finishes"
Hi,
I installed tcpreplay-4.2.6 with last version of netmap on CentOS Linux release 7.3.1611.

Commande blow never finishes, I I have to kill the tcpreplay 👍
[root@localhost TRS]# /local/tcpreplay-4.2.6/src/tcpreplay  --intf1=ens4f0  -t -K  -l 10000  --netmap  BIP_DL620_to10150015.pcap
Switching network driver for ens4f0 to netmap bypass mode... done!
File Cache is enabled
Killed

- BIP_DL620_to10

[2017-09-16 13:48] jklm7 commented on #417
tcpreplay with --netmap option and infinite loop , can interrupt, seems works, I can reach 9,77 Gbps

[root@localhost TRS]# /local/tcpreplay-4.2.6/src/tcpreplay  --intf1=ens4f0  -t -K  -l 0 --nm-delay=20 --netmap BIP_DL1000x1024_to10150015.pcap
Switching network driver for ens4f0 to netmap bypass mode... done!
File Cache is enabled
^C User interrupt...
sendpacket_abort
Warning: Unable to send pack

[2017-09-17 21:50] fklassen commented on #417
Haven't seen this before. I'll look into it. Maybe something has changed with netmap.

[2017-09-25 19:53] c-f-s-s opened #418 "When replaying at captured rate, tcpreplay does not respect timing for second packet"
During some targeted testing which involved pcaps containing only a single TCP connection, I found that tcpreplay invariably generated the second packet pretty much immediately after the first, regardless of how much time difference there was between it and the first packet.

Tcpreplay seems to do a pretty good job of honoring the time deltas for the rest of the capture.

### Setup info
FreeBSD 10

[2017-09-25 20:18] fklassen commented on #418
@c-f-s-s sounds fairly serious. I'm planning to catch up with bugs next week, so I'll take a look.

[2017-09-25 20:44] c-f-s-s opened #419 "-T flag breaks traffic replay timing; ioport isn't recognized"
Couple of similar issues here. When I attempt to run a pcap at captured rate using either of the non-default timers "nano" or or "select," every packet is replayed with a time delta of less than one microsecond (if used with netmap, further details in reproduction info).

The second issue is that ioport doesn't seem to be recognized. When I attempt to run with ioport, I get the following error:
_F

[2017-09-25 20:46] c-f-s-s commented on #418
Thanks Fred! I just wrote up one more that I discovered recently related to the -T flag.

_________________________________________
Cory Simonson
Engineer, Software Quality Assurance
VIAVI Solutions – viavisolutions.com
P:    952-358-3874
E:    cory.simonson@viavisolutions.com<mailto:cory.simonson@viavisolutions.com>

From: Fred Klassen [mailto:notifications@github.com]
Sent: Monday, September 25,

[2017-10-03 02:28] Slimmons opened #420 "tcprewrite --pnat removes Interface Description Block"
Version information `tcprewrite -V`

`tcprewrite version: 3.4.4 (build 2450) (debug)
Compiled against libpcap: 1.7.4
64 bit packet counters: enabled
Verbose printing via tcpdump: enabled
Fragroute engine: disabled`

Command line used:
 `tcprewrite --pnat=192.168.0.0:192.168.0.5 --infile=myfile.pcapng --outfile=myNewFile.pcapng`

Platform:
Ubuntu 16.04

Make & model of the network cards and driver

[2017-10-05 23:18] GrantEdwards opened #421 "--maxsleep broken for values less than 1000"
On Linux, the --maxsleep option only seems to work correctly for values of 1000 or larger.  [Correction, it's broken for any value that isn't a multiple of 1000.]  Values smaller than 1000 send packets _way_ faster than they should.  It's hard to get accurate test results, but it sort of looks like values less than 1000 are getting treated as microseconds rather than milliseconds.  A value of 999

[2017-10-05 23:31] GrantEdwards commented on #421
To convert from ms to ns, you need to multiply by 1000000 instead of 1000:
[code]

[2017-10-11 17:25] fklassen commented on #420
Usually this is a function of libpcap. Tcpreplay uses the library to edit the file. I suspect the issue is there. I would first make sure you are using the [latest version of Tcpreplay](https://github.com/appneta/tcpreplay/releases/latest). Secondly I would try to get a very stable version of libpcap.

[2017-10-18 07:31] sdubrul opened #422 "Unable to tcprewrite range of ports with --portmap"
The following doesn't seem to work in 4.2.5 on centos 7. In previous versions the portmap would allow for a range of original ports to rewrite a given port.

[code]

[2017-10-18 14:55] fklassen commented on #422
Thanks for the bug report. Scheduled for 4.2.7

[2017-10-20 23:38] fklassen opened #423 "DNS lookups not showing up"
For now, just dumping the conversation from the mailing list ....

Ah, didn't realize there were two more commands... just saw the
tcpprep and my brain turned off.

The problem right now for me is that:

tcpprep --auto=client --cachefile=query.cache --pcap=queries-ipv4-new.pcap

is generating an invalid cache file:

$ tcpprep -S query.cache

Fatal Error: Cache data length (256 bytes) doesn't match

[2017-10-29 03:37] z2xy commented on #415
seems has't been fixed...  @fklassen

[2017-10-29 17:43] fklassen commented on #415
Yeah, life caught up to me. I will take some time off in December to work on this project.

[2017-11-02 16:53] fklassen opened #424 "tcpreplay appears to hang using loop and netmap options"
From tcpreplay-users:

Version information:

    SYS-E300-8D:~$ /usr/local/bin/tcpreplay -V
    Warning: May need to run as root to get access to all network interfaces.
    tcpreplay version: 4.2.5 (build git:v4.2.5)
    Copyright 2013-2017 by Fred Klassen <tcpreplay at appneta dot com> - AppNeta
    Copyright 2000-2012 by Aaron Turner <aturner at synfin dot net>
    The entire Tcpreplay Suite is

[2017-11-14 20:44] ken-adey commented on #424
I had to reinstall the OS due to a hardware change (new SSD), which means I had to rebuild/reinstall tcpreplay and netmap. Now the loop functionality is working with the --netmap option. Go figure!

[2017-11-14 22:56] fklassen commented on #424
Interesting. Many Netmap issues are not due to my code. I suspect something in Netmap. I removed the "bug" label for now, but will keep open for a while until I can confirm it works for me.

[2017-11-30 21:26] fklassen opened #427 "Impossibly high Mbps when running Netmap on X540"
As per issue reported in mailing list ....

[code]

[2017-11-30 22:56] fklassen commented on #427
Comment from Aaron...

[code]

[2017-12-01 13:49] ken-adey commented on #427
I can't find any version info in the netmap distribution, but I downloaded it from https://github.com/luigirizzo/netmap a month ago, so it's probably the latest.

If I use the -M option instead, eg:

root@send:/home/mzealadmin# taskset -c 0 tcpreplay -M 9000 --intf1=enp6s0f1 -K --netmap --no-flow-stats large.pcap
Switching network driver for enp6s0f1 to netmap bypass mode... done!
File Cache is en

[2017-12-01 15:32] fklassen commented on #427
`EAGAIN` errors are not really errors, and do not affect performance if handled properly. It says that the TX buffers are full, and the program should retry sending.

[2017-12-08 19:42] verticelo opened #429 "DLT conversion and portmap can't be done in the same pass"
Just reporting this in case it isn't known:

If one runs with options --dlt and -r at the same time, then -r will not be executed.

If one runs --dlt and then on the output runs -r then it will be executed properly.

[2017-12-14 11:31] pingsoli opened #430 "Encountering compiling failure"
I have already installed libpcap 1.8.1, and ./configure --enable-dynamic-link, then I failed to configure. I got error:  ```checking for libpcap version... configure: error: Libpcap versions < 0.7.2 are not supported
  Please upgrade to version 0.7.2 or better```, then I got your another answer is trying with --with-libpcap=<installation-dir>, so, I try it. Then I got some error messages when comp

[2017-12-14 14:38] fklassen commented on #430
Are you building [from release](https://github.com/appneta/tcpreplay/releases/latest)? If you are building from GitHub you get this error unless your autogen setup is perfect.

[2017-12-15 01:49] pingsoli commented on #430
Thanks for your answer, I tried release version, and got the same error.  My OS is ubuntu 16.04, and
```$ sudo apt-get install autogen```
your meaning is autogen was imcompletely installed ?

[2017-12-15 16:10] fklassen commented on #430
Thanks for the report. Labeling as a bug and will try to reproduce.

[2018-01-07 19:03] fklassen opened #432 "CI builds fail"
Travis-CI and Codacy integrations are failing on all branches, most likely due to changes done by providers

[2018-01-07 23:35] fklassen commented on #430
Resolved in PR #431

[2018-01-16 22:46] fklassen commented on #432
The following came from Travis Support in regards to debugging Travis CI:

1. Get the API token using the CLI and send a POST request to /job/:job_id/debug replacing the TOKEN and JOB_ID values below:

[code]

The Job ID is displayed in the build log after expanding "Build system information".

2. Head back to the web UI and in the log of your job. you should see the following lines to connect to

[2018-01-18 17:47] fklassen commented on #432
Changes made to Travis requires flexibility on version of `autogen`. Will still warn maintainer if version clashes with what is required for release distribution.

Also appears that macOS no longer supported by Travis.

[2018-01-18 17:47] #432 closed

[2018-01-18 21:52] fklassen commented on #407
fixed by PR #435

[2018-01-18 21:52] #407 closed

[2018-01-19 00:56] fklassen commented on #410
@gy741 Thanks for the bug reports.

What OS did you detect this in? Also, what compile options did you use? I first tried this on Linux with Clang 3.5:

    CC=clang CFLAGS="-O1 -fsanitize=address -fno-omit-frame-pointer -g" ./configure --disable-local-libopts

I had a compile error, and my trace was not specific.

[code]

But when I tried the same thing on macOS, I got exact output you did.

I am

[2018-01-19 01:00] fklassen commented on #410
Fixed in PR #438

[2018-01-19 01:00] #410 closed

[2018-01-19 02:08] fklassen commented on #408
closed with PR #439

[2018-01-19 02:08] #408 closed

[2018-01-19 13:26] gy741 commented on #410
@fklassen

Hello,

I do not remember well.

It seems to be using the following command.

Thanks.

[code]

[2018-01-19 15:28] fklassen commented on #410
Thanks. I guess I forgot the `LDFLAGS`. Now I get:

[code]

[2018-01-19 23:17] fklassen commented on #409
Fixed in PR #440

[2018-01-19 23:17] #409 closed

[2018-01-20 23:02] fklassen commented on #405
Fixed in #442

[2018-01-20 23:02] #405 closed

[2018-01-21 18:24] fklassen commented on #422
Fixed in PR #443

[2018-01-21 18:24] #422 closed

[2018-01-21 21:14] fklassen commented on #415
Fixed in #426

[2018-01-21 21:14] #415 closed

[2018-01-22 00:22] fklassen opened #450 "TCP sequence number edits initial SYN packet should have zero ACK"
Comparing `test/test.pcap` to `test/test2.rewrite_sequence`, which illustrates the output of `tcprewrite -n` command. Notice that the first packet of three-way handshake should be zero but after edit, is non-zero.

![image](https://user-images.githubusercontent.com/1899327/35200602-75b0ff12-fec6-11e7-8c81-46bac40c0c35.png)

[2018-01-22 00:28] fklassen opened #451 "TCP sequence edit ACK corruption"
Comparing `test/test.pcap` to `test/test2.rewrite_sequence`, which illustrates the output of `tcprewrite -n` command. Notice that packet 100 should have a relative `ACK` number of 294, but instead has 38.

![image](https://user-images.githubusercontent.com/1899327/35200738-d6e62e14-fec7-11e7-97ae-f16fdcaa612b.png)

[2018-01-22 21:28] fklassen commented on #404
fixed in PR #453

[2018-01-22 21:28] #404 closed

[2018-01-23 05:55] sanjogpandasp opened #455 "Error while make"
CC       null.o
  CC       loop.o
  CC       linuxsll.o
  CC       ieee80211.o
  CC       ieee80211_hdr.o
  CC       radiotap.o
  CC       jnpr_ether.o
  CC       pppserial.o
  AR       libtcpedit.a
ar: `u' modifier ignored since `D' is the default (see `U')
make[4]: Leaving directory '/root/Desktop/tcpreplay-master/src/tcpedit'
make[3]: Leaving directory '/root/Desktop/tcpreplay-master/src/tcpedi

[2018-01-23 06:07] sanjogpandasp commented on #455
This worked

./configure --disable-local-libopts --disable-libopts-install

[2018-01-23 06:07] #455 closed

[2018-01-23 09:22] sanjogpandasp opened #456 "Most of the packet are logged as packet loss [tcpliveplay]"
While I am able to run tcpliveplay with the captured traffic. I get a almost n-1 packets "Total Local Packet Re-Transmissions loss and/or differing payload size than expected".

Sending Local Packet...............	[17981]
Sending Local Packet...............	[17982]
Sending Local Packet...............	[17983]
Sending Local Packet...............	[17984]
Sending Local Packet...............	[17985]
Se

[2018-01-23 17:38] fklassen commented on #402
fixed in PR #454

[2018-01-23 17:38] #402 closed

[2018-01-23 18:32] fklassen commented on #429
This worked for me. I changed the MAC addresses and the port numbers as expected. Please send examples.

    ./src/tcprewrite -i test.pcap -o /tmp/bug_249-2.pcap --dlt=user --user-dlink=00,50,da,5d,46,55,0,7,eb,30,a4,c3,08,0 -r 80:8080

[2018-01-23 18:32] #429 closed

[2018-01-23 19:19] fklassen commented on #401
Closing due to inactivity. I assume the question is answered.

[2018-01-23 19:19] #401 closed

[2018-01-25 05:54] fklassen commented on #398
fixed in PR #457

[2018-01-25 05:54] #398 closed

[2018-01-25 15:26] fklassen commented on #117
Found that a PF-RING specific libpcap instruction is included in the `configure` script. It appears that you have found another way of making it work (as documented above).

[code]

[2018-01-25 15:26] #117 closed

[2018-01-25 15:31] fklassen commented on #396
If using the procedures outlined in #395 to build with PF_RING libpcap, this should work. Please reopen if you run into any issues.

[2018-01-25 15:31] #396 closed

[2018-01-25 15:33] fklassen commented on #395
Found that a PF-RING specific libpcap instruction is included in the `configure` script. It appears that you have found another way of making it work (as documented above).

[code]

[2018-01-25 15:33] #395 closed

[2018-01-25 15:43] fklassen commented on #278
fixed in #405.

[code]

[2018-01-25 15:47] fklassen commented on #252
Attempted to recreate issue. I don't have any problems. I suggest using a smaller capture file, or do not preload the pcap file into memory (i.e. do not use the `-K` option).

[2018-01-25 15:47] #252 closed

[2018-01-25 15:53] fklassen commented on #278
Did not run valgrind properly. Ran ASan instead. Reopening to test with valgrind.

[2018-01-25 16:15] sadir commented on #398
@fklassen thank you :)

[2018-01-25 16:21] fklassen commented on #278
Verified with both ASan and valgrind:

[code]

[2018-01-25 16:21] #278 closed

[2018-01-26 02:28] fklassen commented on #424
I was unable to reproduce with my current version. It may have been fixed somewhere along the way. I'll release 4.3 beta1 soon so you can try it out.

[code]

[2018-01-26 02:30] fklassen commented on #153
Unable to reproduce. Closing for now.

[2018-01-26 02:30] #153 closed

[2018-01-26 03:27] fklassen commented on #423
Checked out the above, and get similar results as Aaron (i.e. cannot reproduce the original problem). The following also was not recreated (probably fixed with some DLT overruns I already fixed for this release).

[code]

However, I did find an issue where the above command doesn't work. It appears that the issue is that the command doesn't work if there are more than 65K packets represented in th

[2018-01-26 03:38] fklassen commented on #423
Fixed in PR #458

[2018-01-26 03:38] #423 closed

[2018-01-26 03:40] fklassen commented on #414
Duplicate of #398

[2018-01-26 03:40] #414 closed

[2018-01-26 03:45] fklassen commented on #417
It appears that the issue is not a bug. The options `-l 0` will force a continual loop.

The warning issue has been resolved in 4.3 beta1 release.

[2018-01-26 03:45] #417 closed

[2018-01-26 04:18] fklassen commented on #421
Thanks for the bug report and the patch. The patch fixes the issue.

[2018-01-26 04:39] fklassen commented on #421
Fixed in Pr #460

[2018-01-26 04:39] #421 closed

[2018-01-26 15:37] fklassen opened #461 "Compile warning in Debian build log"
Found in Debian build log [here](https://buildd.debian.org/status/fetch.php?pkg=tcpreplay&arch=amd64&ver=4.2.6-1&stamp=1501645269&raw=0)

[code]

[2018-01-26 16:52] fklassen commented on #461
fixed in PR #462

[2018-01-26 16:52] #461 closed

[2018-01-26 16:56] fklassen commented on #412
The first issue isn't a problem me. In some cases I have heard that users must add `--enable-static-link`, e.g.

    ./configure --with-libpcap=/home/fklassen/git/libpcap --enable-static-link

Second issue fixed with PR #463

[2018-01-26 16:56] #412 closed

[2018-01-26 17:04] fklassen commented on #427
Reported [this issue in netmap repo](https://github.com/luigirizzo/netmap/issues/439). Deferring until I get further info.

[2018-01-26 17:27] fklassen commented on #418
Have not been able to reproduce these issues in Linux. Will have to set up a FreeBSD environment that is using netmap. Will defer this and #419 until after 4.3 beta1

[2018-02-09 17:19] whitequark commented on #411
Simpler workaround: rename the device from `tap0` to e.g. `xxx0` (or anything that doesn't start with `tap`).

[2018-02-09 22:47] fklassen commented on #411
@whitequark that explains why my testing never found anything wrong. I will keep the default name `tap0`.

This is legacy code, and we may be better of with it deleted. I'll have a look.

[2018-02-09 23:18] do11 opened #465 "Allow to select different types of raw sockets"
You are using `PF_PACKET` socket by default, but they are bypassing Linux IP stack, iptables, etc. It would be more useful if you allow user to select type of socket which is used to sink packets, such as `PF_INET` sockets. See http://lists.netfilter.org/pipermail/netfilter-devel/2003-March/010845.html

For example, I `ping` other box and iptables sees this packet. I capture this packet on source

[2018-02-21 10:26] diper commented on #406
Feature seem to be broken...
Before
![image](https://user-images.githubusercontent.com/8170108/36475035-85d2ea3e-170a-11e8-8d05-802def1ff44c.png)
After rewrite
![image](https://user-images.githubusercontent.com/8170108/36475056-97a1fd68-170a-11e8-9219-be0818665283.png)

[2018-03-12 04:10] recvfrom opened #466 "'tcprewrite' with fragroute option fails on oversized packets"
'tcprewrite' with the fragroute option can't handle fragmenting packets collected from an interface where the MTU size is greater than 1500 bytes.  This issue was actually asked about on the mailing list a while back, and a solution proposed - the thread can be found at:

https://sourceforge.net/p/tcpreplay/mailman/message/32419069/

Could such a fix be implemented in the main codebase so that use

[2018-03-12 23:12] fklassen commented on #466
Will investigate and consider for 4.3

[2018-04-16 08:28] voilaviola opened #469 "Tcpreplay resends pcap automatically in the night"
Hello,
I am testing my IDS by replaying pcaps with tcprewrite and tcpreplay, and I noticed a strange thing during my test. I used tcprewrite to change the ips of pcap1.pcap to public ips, and then used tcpreplay to send it to IDS. Here's what I found in my IDS:
![image](https://user-images.githubusercontent.com/9637973/38797568-2d982724-415f-11e8-9e2c-b85429065982.png)
I replayed pcap1.pcap at aro

[2018-04-16 16:13] fklassen commented on #469
What version are you running?

[2018-04-16 16:33] voilaviola commented on #469
I'm using tcpreplay and tcprewrite 3.4.4

[2018-04-16 19:18] fklassen commented on #469
That is very old. I suggest using [the latest version](https://github.com/appneta/tcpreplay/releases/latest). Let me know if you still see the failure.

[2018-04-16 21:54] recvfrom opened #470 "Restore STDIN to blocking mode upon termination"
I've been having some problems with STDIN getting set to non-blocking mode, breaking several other commands run in that same terminal window:

https://unix.stackexchange.com/questions/437409/problems-caused-by-stdin-set-to-non-blocking-mode

I wrote a program to detect when this change happens and found that tcpreplay appears to be a cause:

[code]

Could tcpreplay be updated to restore the flags

[2018-04-16 23:08] fklassen commented on #470
Yeah, that should get cleaned up. Logging as a bug.

[2018-04-17 19:04] recvfrom commented on #470
I modified my test program to check STDOUT and STDERR as well, and can confirm that they also get left in non-blocking mode

[code]

[2018-04-18 00:33] abdulrahman86 commented on #430
@fklassen I am getting this error. Here is my output when I run make

[code]

I tried building on the following branches
master, 4.3 and PR_#397_multi_pcap_sleep_calc

[2018-04-18 13:35] fklassen commented on #430
Pro tip. Don't post on a closed issue.

Download release, not from Git https://github.com/appneta/tcpreplay/releases/latest

[2018-04-20 13:54] voilaviola commented on #469
Hi, I updated tcpreplay and it 's solved. Please close this issue, and thanks again

[2018-04-20 16:26] fklassen commented on #469
👍

[2018-04-20 16:26] #469 closed

[2018-05-09 08:04] EaseTheWorld commented on #424
I can reproduce this issue. Redhat 7.0, tcpreplay 4.2.6, latest netmap, ixgbe-5.3.3.
Without loop it works fine but with '--loop=2' it hangs.
If you need more info, please tell me.

[2018-05-10 02:02] anthraxx opened #471 "BPF support for linux"
It looks like BPF is not supported for Linux variant, while the configure summary clearly says "BSD BPF" it is still auto-detected and needs explicit fiddling to get tcpreplay compiled.

Either way, support for linux eBPF would be cool, right now it fails with:
[code]

[2018-05-10 02:24] EaseTheWorld opened #472 "with multiplier option, only first file can be sent and hang"
tcpreplay -i ens3f0 --multiplier=2 a.pcap b.pcap
only sends a.pcap and hang.

After some source dig in,
timeclear(&first_pkt_ts) in send_packets for second file,
causes pkt_ts_delta very large value so sleep forever.

I tested 4.2.6 and 4.3.0-beta1, all reproduced.

[2018-05-10 02:31] EaseTheWorld commented on #424
It seems that netmap_tx_queues_empty() keeps returning false after sent a file.
I'll check more.

[2018-05-10 04:47] fklassen commented on #424
Reopening for further investigation.

[2018-05-10 04:50] fklassen commented on #471
Will investigate.

[2018-05-14 13:32] shai200 opened #473 "Cannot install tcpreplay on cygwin. Error message: checking for libpcap... configure: error: Unable to find matching library for header file in /wpdpack"
On Windows 10:

Following the instructions on installing tcpreplay on Windows using Cygwin at this URL:
http://tcpreplay.appneta.com/wiki/installation.html

After following all instructions and placing wpdpack in cygwin root.
After running ./configure

 ~/tcpreplay-4.2.5
$ ./configure --with-libpcap=/wpdpack

After everything installing normally I get the error:
Checking for libpcap... configure:

[2018-05-14 15:30] fklassen commented on #473
will investigate for next release

[2018-05-15 15:41] shai200 commented on #473
Can we brainstorm together? I kind of need it nowish...

[2018-05-15 19:20] rainey opened #474 "nics unavailable when testnic specified in configure"
This is maybe the same issue initially reported in bug #178 - Based on the responses to that, it seems the intention is for the --with-testnic configure option to not affect the main programs, but it does.

Having a look through the configure script, it seems that when the --with-testnic option is specified, ENABLE_PCAP_FINDALLDEVS will become undefined, and the resulting builds will not have the

[2018-05-15 20:38] rainey commented on #474
Fixing this in configure.ac was fairly straightforward.  Should I submit a pull request?

[2018-05-16 15:49] fklassen commented on #474
👍

[2018-05-17 02:17] EaseTheWorld commented on #424
NETMAP_TX_RING_EMPTY() keeps returning false.
I tried nm_tx_pending() but it keeps returning true.
both because txring->tail is not changed even after NIOCTXSYNC ioctl.
This seems netmap issue.

One question though, why is netmap_tx_queues_empty() checked only when loop == 1?
I think queue empty should be checked whether loop or one shot play.

[2018-05-17 20:49] fklassen commented on #424
What version of netmap are you using? We may want to open and issue [with netmap](https://github.com/luigirizzo/netmap/issues) to see if there has been any changes in this macro.

[2018-05-18 00:19] EaseTheWorld commented on #424
NETMAP_TX_RING_EMPTY returning false is same meaning as nm_tx_pending() returning true.
so changing NETMAP_TX_RING_EMPTY to !nm_tx_pending() doesn't solve the issue.
As I said, the issue is that txring->tail is not changed even after NIOCTXSYNC ioctl.
I'm not familiar with netmap so I don't know where to look at now...

netmap api 12 (commit 53caf0a) with redhat 7.0

[2018-06-01 05:33] EaseTheWorld commented on #424
I looked at the netmap/apps/pkt-gen.c (no hang) and found out
`slot->flags |= NS_REPORT` is the key.
In pkt-gen, NS_REPORT flag is set for every slot but tcpreplay is not.
If I remove the condition `if (avail <= 1)` in sendpacket_send_netmap() so NS_REPORT is always set, then
issue is resolved.
I'm not 100% sure this is the right fix, though.

[2018-06-01 15:30] fklassen commented on #424
That appears to be new behaviour in pkt-gen.c. It's not the first time that updates are made to netmap that are not backwards compatible.

I've had little time to work on this project, but will attempt to free up a day or two next week. Hopefully I can come up with a patch that is backwards compatible with versions of netmap that do not have NS_REPORT defined.

[2018-06-04 02:17] EaseTheWorld commented on #424
I looked at history of src/common/netmap.c and `if (avail <= 1) slot->flags |= NS_REPORT` code has been there since the first version. maybe NS_REPORT meaning or usage changed?
As far as I understand, when netmap sends the slot with NS_REPORT flag set, tail is updated. otherwise, tail is never(or lazily) updated.
So... to check tx queues empty
- set NS_REPORT flag for the slot containing last pack

[2018-06-07 08:18] wuningbo opened #476 "BSD loopback packet cannot to enet dlt type"
I capture a packet and I hope to enet dlt type use it; but  I can't do it;

[2018-07-03 07:03] Edward-L opened #477 "heap-buffer-overflow in /src/common/get.c:174 function get_l2len"
heap-buffer-overflow in /src/common/get.c:174 function get_l2len

command:
[code]

asan report:
[code]
[poc](https://github.com/Edward-L/my-cve-list/blob/master/tcpreplay/heap-buffer-overflow-in-get.c-174-get_l2len.poc)

[2018-07-03 14:19] fklassen commented on #477
What version is this? What OS? Please send the output of `tcpprep -V`.

[2018-07-03 20:28] fklassen commented on #477
Received the following which suggests the issue is in 4.3 beta1:

[code]

[2018-07-04 01:48] Edward-L commented on #477
tcpprep -V
[code]

os :ubuntu 14.04
source code: commit 230d7aa

[2018-08-01 11:18] andreas-ibm opened #479 "closing stdin on pipe"
May I request that someone checks their standard unix file descriptor numbers... from replay.c line 128:

[code]

(HINT: stdin is 0, 1 is stdout...)

[2018-08-01 15:25] fklassen commented on #479
Check for what?

[2018-08-01 15:32] andreas-ibm commented on #479
I was being sarcastic.

the block of code either doesn't do what's commented, or the comment is wrong.

The comment says "close stdin", the code closes stdout.

This has the effect of dropping all output from the command if you happen to be pipeing data to it via stdin.  I've removed the block of code in my copy and it works much better.

I didn't simply send a PR, because I couldn't figure out th

[2018-08-01 15:39] fklassen commented on #479
Ahh ... I was looking at the code, not the comment. That code is well before my time, so I may have to guess at the intent. I'll schedule comment update for a future release.

[2018-08-01 15:42] andreas-ibm commented on #479
Could I suggest removing the whole block of code please? Closing stdout causes errors down the line when it tries to write (e.g. statistics) to stdout.

[2018-08-02 16:59] fklassen commented on #479
I'll review and test. We had some issues come up with stdin/stdout not being closed. I just want to make sure we are not introducing any regression.

[2018-08-14 15:06] gy741 opened #480 "Remove dead code in services.c"
Hello.

I think, the conditional statement in services.c on line 75 is useless.

Because Due to the 40 line code, the nmatch value is fixed.

So, I think, The if statement is always false.

what do you think?

Thanks.

https://github.com/appneta/tcpreplay/blob/efa2ce43c0ff1c23ae6aebb6dee76ec5b68de234/src/common/services.c#L35-L77

[2018-08-14 16:34] fklassen commented on #480
Makes sense. Will look at this for a future release.

[2018-08-17 15:08] #480 closed

[2018-08-29 21:02] saitej25 opened #483 "Missing File"
megh@devkit-office:~/workspace/dcp/traffic_gen/tcpreplay$ ./configure
-bash: ./configure: No such file or directory

[2018-08-29 22:44] fklassen commented on #483
Download [a release version](https://github.com/appneta/tcpreplay/releases/latest).

[2018-08-29 22:44] #483 closed

[2018-09-24 14:33] SegfaultMasters opened #484 "Heap overflow in get_next_packet()"
**tcpreplay** contains a heap-based buffer overflow vulnerability. The `get_next_packet()` function in the `send_packets.c` file uses the `memcpy()` function to copy sequences from the source buffer `pktdata` to the destination `(*prev_packet)->pktdata`. However, there are no checks in place to ensure that `dst` is a non-zero value. An attacker can exploit this vulnerability by submitting a malici

[2018-09-25 11:06] SegfaultMasters opened #485 "Heap Overflow in fast_edit_packet()"
There exists a heap-buffer-overflow in function `fast_edit_packet()` in the file `send_packets.c` of tcpreplay (v4.3). The issue can be reproduced when provided with an crafted pcap file as an input to the tcpreplay binary.

###### **Affected version:**
  4.3 branch

###### **Command**:
 sudo tcpreplay -i eno1 -t -K --loop 4 --unique-ip $POC

### **Debugging**

[code]

[code]

### **ASAN output**

[2018-09-29 08:35] carnil commented on #485
https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-17580 was assigned for this issue

[2018-09-29 08:35] carnil commented on #484
https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-17582 was assigned for this issue

[2018-10-03 07:58] mkubecek commented on #484
I don't think the analysis is correct. This has nothing to do with null destination pointer (`safe_malloc()` checks return value of `malloc()` and exits on allocation failure) and most likely not with the destination at all.

IMHO the actual problem here is a buffer overflow on *read* because of unrealistic value of `pktlen` (taken from `pkthdr->len`) which is 8388670 while the data actually prese

[2018-10-03 11:14] mkubecek commented on #477
This is similar to #484. In this case, declared captured length is huge (837240390) but snaplen is only 4 so that libpcap truncates the packets to 4 bytes and sets `pkthdr->caplen` accordingly. The problem is `get_l2len()` not checking there is enough data for ethernet header.

AFAICS this has been fixed in branch 4.3 by commit 0253c4707446 (but the fix is missing in master branch). This commit is

[2018-10-03 12:39] mkubecek commented on #485
This is a truncated IPv4 packet: 14 bytes of ethernet header and 14 bytes of IPv4 header (so that the packet ends at the middle of source address field). The problem is that `pkthdr->caplen = 60` but `pkthdr->len = 28`. Apparently libpcap does not guarantee `caplen <= len` even if the description seems to imply that. And even if it we fix that in libpcap, unfixed versions will be around for quite

[2018-10-03 16:37] SegfaultMasters opened #486 "Heap overflow in dlt_en10mb_encode()"
An heap overflow was triggered in function `dlt_en10mb_encode()` at file `en10mb.c`, due to inappropriate values in the function memmove(). The length (pktlen + ctx -> l2len) is larger than source value (packet + ctx->l2len) as the function failed to ensure the length of a packet is valid, causing segmentation fault.

###### **Affected version:**
  4.3 branch

###### **Command**:
 sudo tcpreplay-e

[2018-10-03 20:12] fklassen commented on #485
That's a good suggestion. Currently planning some vacation, which is the only time I have to really work on this project. Hopefully I can try that out next week.

[2018-10-04 15:58] abergmann commented on #486
[CVE-2018-17974](https://nvd.nist.gov/vuln/detail/CVE-2018-17974) was assigned to this issue.

[2018-10-14 20:45] entropy1337 opened #487 "Heap Overflow in tcpcapinfo.c"
pcap_ph seem to be passed to other variables unsafely.

[2018-10-15 15:12] SegfaultMasters commented on #487
More info?

[2018-10-15 15:58] SegfaultMasters opened #488 "Heap overflow in csum_replace4()"
A heap-based buffer overflow was discovered in tcpreplay-edit binary, during the incremental checksum operation. The issue is being triggered in the function `csum_replace4()` at `incremental_checksum.h`, invoked by `ipv4_l34_csum_replace()` in `edit_packet.c`.

### **Tested version:**
4.3

### **Command:**
tcpreplay-edit --portmap=80:8000 --seed=10  --cachefile=example.cache --intf1=eno1 --intf2=

[2018-10-15 16:32] SegfaultMasters opened #489 "Use-after-free in post_args()"
A heap use-after-free issue exists in tcpbridge binary of tcpreplay, being triggered in function `post_args()` at file `src/tcpbridge.c`.

### **Tested version:**
4.3.0-beta1

### **Command:**
tcpbridge --intf1=en7

### **Debugging**

[code]

[code]

### **ASAN Report**

[code]

No reproducer file required.

[2018-10-15 17:52] entropy1337 commented on #487
hi,
memcpy utilization tcpcapinfo.c doesn't seem to handle the data properly
and overflowing the heap with excess data.

file size   = 64984 bytes
magic       = 0xa1b2c3d4 (tcpdump) (little-endian)
version     = 2.4
thiszone    = 0x00000000
sigfigs     = 0x00000000
snaplen     = 65535
linktype    = 0x00000001
Packet OrigLen Caplen Timestamp Csum Note
1   93   92 4c33f183.71f37 fc282 OK
*** buffer

[2018-10-18 12:31] mkubecek commented on #488
This is a 62 byte long buffer (16 pcap header, 14 ethernet header, 20 IPv4 header, 12 truncated TCP header), i.e. malformed TCP packet cut right after ports, seq and ack number. The code accesses checksum (offset 16 in TCP header, 66 relative to buffer start) without checking we have a complete TCP header.

At the first glance, the solution seems to be adding length checks to branches of the `swit

[2018-10-18 18:18] fklassen commented on #477
Duplicate of #410. Fixed in version 4.3.

[2018-10-18 18:18] #477 closed

[2018-10-18 19:34] fklassen commented on #484
fixed in PR #491

[2018-10-18 19:34] #484 closed

[2018-10-19 10:20] carnil commented on #489
This issue was assigned [CVE-2018-18408](http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-18408)

[2018-10-19 17:50] fklassen opened #493 "Fix issues identified by Codacy"
Codacy identifies 189 issues. This should get reduced.

https://app.codacy.com/project/fklassen/tcpreplay/dashboard

[2018-10-19 18:31] fklassen commented on #486
fixed in #492

[2018-10-19 18:31] #486 closed

[2018-10-19 18:44] fklassen commented on #493
fixed in PR #494

[2018-10-19 18:44] #493 closed

[2018-10-19 22:21] fklassen commented on #488
@mkubecek thanks for the analysis.

It appears that the reason for the malformed packet 62 type packet is that the IP header size has been hacked. Whereas if the value was 5, the packet would make instead it is 9. That increases the IP header size from 20 to 36.

I inherited this project with little to no checking for invalid IP packets and hand crafted PCAP files. I'm trying to hack my own PCAP i

[2018-10-20 11:16] fklassen commented on #488
fixed in PR #496

[2018-10-20 11:16] #488 closed

[2018-10-20 16:51] fklassen commented on #487
Need more info to reproduce. What version are you using (should be building off 4.3 branch)? What is the command-line argument? Please provide failing PCAP file.

[2018-10-20 16:54] fklassen commented on #489
fixed in PR #497

[2018-10-20 16:54] #489 closed

[2018-10-20 18:48] entropy1337 commented on #487
Hello Fred,
I am using the one from main page, version tcpreplay-4.2.5.
should I share the link here on github or email you the link ?
my email is 3ntr0py1337@gmail.com in case you need it.

On Sat, Oct 20, 2018 at 8:51 PM Fred Klassen <notifications@github.com>
wrote:

[2018-10-20 22:42] fklassen commented on #485
Documented in PR #485. Fixed in PR #484.

[2018-10-20 22:42] #485 closed

[2018-10-20 23:37] fklassen commented on #413
fixed in PR #500

[2018-10-20 23:37] #413 closed

[2018-10-21 00:47] fklassen commented on #406
fixed latest bug in PR #501

[2018-10-21 00:47] #406 closed

[2018-10-21 14:51] fklassen commented on #178
Reopen to investigate this issue and #474. Discovered that tests fail when using `--with-testnic` on Linux.

[2018-10-21 18:03] fklassen commented on #474
Merged to branch appneta:Bug_#474_enable_pcap_findalldevs_with_testnic but not merging to 4.3. Instead moving forward with fix for #178.

[2018-10-21 18:03] #474 closed

[2018-10-21 18:05] fklassen commented on #178
Fixed in PR #503

[2018-10-21 18:05] #178 closed

[2018-10-21 18:41] fklassen commented on #411
fixed in PR #504

[2018-10-21 18:41] #411 closed

[2018-10-21 18:50] fklassen commented on #147
quick_tx is shelved for now, so shelving this issue as well

[2018-10-21 18:50] #147 closed

[2018-10-21 18:51] fklassen commented on #273
waiting for feedback

[2018-10-21 18:51] #273 closed

[2018-10-21 18:57] fklassen commented on #470
duplicate of #416

[2018-10-21 18:57] #470 closed

[2018-10-22 18:02] fklassen commented on #418
Fixed in PR #505

[2018-10-23 05:39] fklassen commented on #418
Fix warnings

[2018-10-23 15:30] fklassen opened #506 "Move away from GNU99 C standard"
Removing this standard reveals numerous warnings that should get fixed

[2018-10-23 15:31] fklassen commented on #418
Close in favour of issue #506

[2018-10-23 15:31] #418 closed

[2018-10-23 16:52] fklassen commented on #506
fixed in PR #507

[2018-10-23 16:52] #506 closed

[2018-10-23 18:51] fklassen commented on #487
Received direct email with instructions on how to recreate.

First I compiled with aft-clang (latest version). Ran `afl-fuzz` for a while with both 4.2.5 and 4.3-beta2 build, but didn't see crash. Apparently it is because I don't have a 50MB memory limit set up.

However I was able to recreate a crash on 4.2.5 using AFL output sent to me.

Also I ran afl-fuzz for a while and didn’t see crashes. I

[2018-10-23 18:51] #487 closed

[2018-10-23 18:56] fklassen commented on #479
See #416 and #470. Not a bug.

[2018-10-23 22:28] fklassen commented on #473
Cygwin has not been supported for several years. I'll keep this open in case someone wants to pick this up.

[2018-10-24 09:04] andreas-ibm commented on #479
I'd still argue it is a bug.
#416 introduced this change:
[code]
Which indeed sets it to blocking mode using the old Unix way, but I fail to see how it relates to the current code:
[code]
a) I've never heard of an OS that needs you to close STDIN when reading from STDIN!
b) you're closing STDOUT

I honestly don't see the connection between #416, #470 and #479.  #416 was a change to avoid non-block

[2018-10-24 14:34] fklassen commented on #479
Appears I got STDIN/STDOUT confused. Reopening.

[2018-10-24 18:17] fklassen commented on #466
fixed in PR #509

To test, create `frag.cfg` that contains `ip_frag 1500`. Then run:

[code]

[9000.pcap.zip](https://github.com/appneta/tcpreplay/files/2511772/9000.pcap.zip)

[2018-10-24 18:36] fklassen commented on #479
fixed in #510

[2018-10-24 18:36] #479 closed

[2018-10-24 22:28] fklassen commented on #465
I suspected that this wouldn't work, but proved it in PR #511. I'm unable to get the stack to send raw packets that are not decorated with proper source mac/IP.

Here is how far I got ...

[code]

[2018-10-24 22:31] fklassen commented on #456
More info please.

Usually this is because the PCAP file contains more than one HTTP session, or it contains non-HTTP traffic.

[2018-10-25 19:51] fklassen commented on #450
fix in PR #513

[2018-10-25 19:51] #450 closed

[2018-10-25 19:55] fklassen opened #514 "TCP sequence edit should be seeded"
Instead of `-n` should be `-n <seed>` so that user has more control over making unique sequence numbers.

Also, the utility random number generator should be used to ensure symmetry between big-endian and little-endian generated PCAP files.

[2018-10-25 21:36] fklassen commented on #466
Reopen to fix potential segfault

[2018-10-25 21:45] fklassen commented on #466
fix latest bug in PR #516

[2018-10-25 21:45] #466 closed

[2018-10-25 22:17] fklassen commented on #451
Fixed in PR #515

[2018-10-25 22:17] #451 closed

[2018-10-26 04:41] fklassen commented on #430
Reopening. Found a PowerPC Jessie system that fails as per above with a release version.

[2018-10-26 17:58] fklassen commented on #430
Fixed in PR #518

Note that non-maintainers should always try to download [a release tarball](https://github.com/appneta/tcpreplay/releases). These releases already have all `autogen/libopts`  man pages, documents and generated source code compiled so that `autogen`does not have to exist on the build machine.

For maintainers, either use exactly the same version of `autogen` as I do, or run `./con

[2018-10-26 17:58] #430 closed

[2018-10-26 20:03] fklassen commented on #514
Implemented as `--tcp-sequence` rather than `--rewrite-sequence`. Improved seeding. Fixed in PR #517

[2018-10-26 20:03] #514 closed

[2018-10-26 20:29] fklassen commented on #465
Reopen as per discussion in pr #511. Looking for help to test feature, document and to volunteer for support. Some dev work to help debug and enhance the feature would also be appreciated.

[2018-10-27 16:17] fklassen commented on #472
Reopening to fix regression. The `--mbps` option is not working properly when using `--loop` option.

Example
[code]

[2018-10-31 02:32] fklassen commented on #427
I suspect that fix for #424 will fix this issue.

It appears that newer versions of netmap were not reporting when a TX buffer was empty. Therefore Tcpreplay thinks that all packets have left the adapter, when in fact they are still buffered. The "end" timestamp happens early, and capacity is too high.

I'll close this issue. If this exact condition happens again, feel free to reopen.

[2018-10-31 02:32] #427 closed

[2018-10-31 02:43] fklassen commented on #419
Need to update CHANGELOG and do some cleanup.

[2018-10-31 06:10] fklassen opened #524 "macOS fails TOS test"
It appears that TOS edits are not rewriting the IP checksum. Some analysis suggests that this is due to code optimization.

Here is a screenshot of the failure.
[code]

[2018-10-31 06:13] #419 closed

[2018-10-31 06:33] fklassen commented on #524
Fixed in PR #525.

Now using `volatile` definitions on variables that feed checksum functions to prevent issues with optimizer.

[2018-10-31 06:33] #524 closed

[2018-10-31 19:43] fklassen commented on #424
Found a machine that this still fails on. Probably is an issue with netmap version. Reopening.

[2018-11-01 16:42] fklassen commented on #424
Fixed in PR #424

[2018-11-01 16:42] #424 closed

[2018-11-09 21:21] grantcurell opened #527 "Fatal Error: failed to open device enp130s0f0: Failure accessing netmap."
### Full error:
[root@trafficgenerator ~]# tcpreplay -i enp130s0f0 -M 3000 -l 50000000 --netmap test_pcap.pcap
Switching network driver for enp130s0f0 to netmap bypass mode...
Fatal Error: failed to open device enp130s0f0: Failure accessing netmap.
        Request for netmap version 13 failed.
        Compiled netmap driver is version 13.
        Error=Invalid argument

### With Verbose Debugging:

[2018-11-10 15:49] fklassen commented on #527
Duplicate of #424. Fixed in #522 and will be available in version 4.3.

[2018-11-10 16:38] fklassen opened #528 "Netmap performance slower on newer Linux kernels"
Notice slower performance when using [netmap](http://info.iet.unipi.it/~luigi/netmap/) on newer Linux kernels (e.g. 4.14, 4.18 on 4.19), when compared to much older kernels (e.g. 3.10.33). This seems especially true on slower CPUs.

For example, Intel i7-3770 CPU @ 3.40GHz gets 9.760Gbps when replaying [bigFlows.pcap](http://tcpreplay.appneta.com/wiki/captures.html) at full speed in 3.10.33 kernel

[2018-11-13 15:39] grantcurell commented on #527
@fklassen is anything required other than the upgrade? Below are my results.
![image](https://user-images.githubusercontent.com/35169230/48424315-04cc3500-e728-11e8-9fac-d31449bb6caf.png)

[2018-11-14 13:57] grantcurell commented on #527
@fklassen still learning netmap - is nr_tx_slots meant to be 0?
[code]

According to https://www.freebsd.org/cgi/man.cgi?query=netmap&sektion=4

It seems like that should be a non zero value?

[2018-11-14 14:33] grantcurell commented on #527
It would seem it is indeed a problem specific to netmap.

[2018-11-14 18:11] fklassen commented on #527
Recreated with Linux 4.14.71 kernel with netmap master (git:11aa43a6).

[2018-11-14 18:31] grantcurell commented on #527
Just for giggles I set it up on a box that is identical in every way except the network card. This one has  I used CentOS this time to make sure I was using an "officially" supported system. This one has an Intel 82599ES in it.

[code]

In this configuration it makes it past switching the network driver, but hangs:
![image](https://user-images.githubusercontent.com/35169230/48503939-2c46fe80-e809-

[2018-11-14 19:00] fklassen commented on #527
It appears that netmap master is messed up. Running `pkt-gen` I see a failure message suggesting a failure on the ioctl ...

[code]

It works I check out the most recent version (11.4)....
[code]

I'll leave this issue open until a fix arrives in netmap master branch.

[2018-11-14 19:03] grantcurell commented on #527
I used to get that "Cannot allocate memory" message. What I did to get around that was I ran an `ethtool -g <interface>`, got the buffer size, and then ran `echo <size> > /sys/module/netmap/parameters/if_size` and that cleared it up for me. I get stuck after that where for whatever reason netmap can't access the interface. That's all assuming the memory error you've got is the same as mine hahaha

[2018-11-19 17:52] grantcurell commented on #527
Fixed. I had to learn a couple of things about netmap, but ultimately to resolve this recompiling both tcpreplay and netmap resolved the issue.

[2018-11-19 17:52] #527 closed

[2018-12-19 06:02] Marsman1996 opened #530 "AddressSanitizer: 2 heap-buffer-overflow problems (packet2tree() && get_l2len())"
Both tested in Ubuntu 18.04, 64bit, gcc 7.3.0, tcpreplay (master 2d87447). And `tcpprep -V` returns
[code]

Triggered by
`./tcpprep --auto=bridge --pcap=$POC --cachefile=/dev/null`

### POC1

poc file:
https://github.com/Marsman1996/pocs/blob/master/tcpreplay/poc15-packet2tree-heapoverflow

ASAN info:
[code]
### POC2

poc file:
https://github.com/Marsman1996/pocs/blob/master/tcpreplay/poc16-get_l2

[2018-12-27 18:58] fklassen commented on #530
fixed in PR #532

[2018-12-28 21:14] carnil commented on #530
Two CVEs were assigned here: [CVE-2018-20552](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-20552) and [CVE-2018-20553](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-20553).

[2019-01-18 13:21] jaiken06 commented on #472
This still isn't working for me.

I have a pcap which sends a SYN packet every 10 microseconds.  It contains 12200 packets.

When I set --multiplier=0.0000002 and replay the pcap, a few packets are sent and then 100 seconds later at the end of the replay, the remaining 12000~ are sent in under a second.  This multiplier is not slowing down the packet sending in my pcap.

Despite this, tcpreplay ou

[2019-01-18 23:31] fklassen commented on #472
Reopening to investigate. I suspect that 0.0000002 is rounded down to 0 and is causing problems.

[2019-01-24 22:35] fklassen opened #534 "Netmap option does not supporting jumbo frames"
Find that packets > 2048 bytes are not sent when using `--netmap` option. Issue is tracked here [netmap:582](https://github.com/luigirizzo/netmap/issues/582) and [internally at AppNeta](https://appneta.atlassian.net/browse/MP-961).

[2019-02-07 06:58] SegfaultMasters opened #536 "NULL pointer dereference get_ipv6_l4proto()"
**Description** - we observed a NULL pointer dereference occured in function` get_ipv6_l4proto()` located at `get.c` .The same be triggered by sending a crafted pcap file to the tcpreplay-edit binary. It allows an attacker to cause Denial of Service (Segmentation fault) or possibly have unspecified other impact.

**Command** - tcpreplay-edit -r 80:84 -s 20 -b -C -m 1500 -P --oneatatime -i $INTERFA

[2019-02-12 09:07] SegfaultMasters opened #537 "NULL pointer dereference in get_layer4_v6()"
**Description** - we observed a NULL pointer dereference occured in function get_layer4_v6 () located at get.c .The same be triggered by sending a crafted pcap file to the tcpreplay-edit binary. It allows an attacker to cause Denial of Service (Segmentation fault) or possibly have unspecified other impact.

**Command** - tcpreplay-edit -r 80:84 -s 20 -b -C -m 1500 -P --oneatatime -i $INTERFACE $PO

[2019-02-12 17:10] SegfaultMasters opened #538 "Invalid memory access in do_checksum()"
**Description** - we observed that there is an Invalid memory access at `do_checksum ()` in `checksum.c` .The same be triggered by sending a crafted pcap file to the tcpreplay-edit binary. It allows an attacker to cause Denial of Service (Segmentation fault) or possibly have unspecified other impact.

**Command** - tcpreplay-edit -r 80:84 -s 20 -b -C -m 1500 -P --oneatatime -i $INTERFACE $POC

**P

[2019-02-13 13:36] Nidhoggrr opened #539 "duplicated packets with tcpbridge"
tcpbridge duplicates all packets (seen on others systems). I am changing destination ip to 255^4 and destination mac to FF^6 and using unidirectional mode from one interface card to another

is this reproducable?

[2019-02-13 17:03] fklassen commented on #539
I don't understand the question. Please be more specific.

[2019-02-15 19:35] riramar opened #540 "Simple tcpliveplay test"
I'm trying a simple test with tcpliveplay but it seems tcpliveplay doesn't handle TCP handshake properly.
Let me describe the steps from my testing.

1. Logged as root on machine A I ran this command to capture all the traffic to the host **104.31.95.22** (my website).

`# tcpdump host 104.31.95.22 -n -s 65535 -w http.pcap`

2. In another shell instance under the same machine I performed a simple

[2019-02-15 20:27] fklassen commented on #540
Thanks for outlining the problem.

I'm labeling this as a bug for now, but will not assign to myself. Tcpliveplay was developed through a Cisco project before I was involved in Tcpreplay. I'll see if I can find the original author and see if he is interested in maintaining this code.

If not, I'll either have to dive into it myself, get another volunteer to step in or make some drastic decisions a

[2019-02-15 20:36] riramar commented on #540
Thanks a lot for the quick replay.
Do you another way or tool that I could accomplish the same goal as tcpliveplay?

[2019-02-15 20:38] fklassen commented on #540
I would suggest trying tcpliveplay version 3.4.4. I think that was the last version touched only be original developer. Mainly security fixes have gone in since then. If it does work for you, let me know and I can do `git bisect` to isolate the failing commit.

[2019-02-15 20:54] riramar commented on #540
Thanks! I'll check and let you know.

[2019-02-15 21:06] riramar commented on #540
The Ubuntu tcpreplay package version 3.4.4-2+deb8u1build0.16.04.1 doesn't have the tcpliveplay file.
Are you sure this is the right version?

[code]

[2019-02-16 00:03] fklassen commented on #540
@riramar my mistake. I started maintaining (and now own) 4.0.0 and didn't realize that tcpliveplay was not distributed with 3.4.4. I am now the lone maintainer of Tcpreplay and don't know the entire history of Tcpliveplay. I'll ask the previous maintainers what version it was supported.

I suspect support was dropped before 3.4.4, but the source code, but not in the release tarballs. I may have to

[2019-02-16 00:12] riramar commented on #540
No problem @fklassen ... I really appreciate your quick replies.

[2019-02-17 21:00] carnil commented on #537
CVE-2019-8376 was assigned for this issue.

[2019-02-17 21:01] carnil commented on #536
CVE-2019-8377 was assigned for this issue.

[2019-02-17 21:02] carnil commented on #538
CVE-2019-8381 was assigned for this issue.

[2019-02-20 03:23] lumin659 opened #541 "tcpreplay4.3.1, use "tcprewrite --fixlen" to fix packet length, error in realloc()"
[root@localhost test]# tcprewrite --fixlen=pad -C -c 187302.cache -i 187302.pcap -o 187302-new.pcap
Warning: 187302.pcap was captured using a snaplen of 2048 bytes.  This may mean you have truncated packets.
*** Error in `tcprewrite': realloc(): invalid next size: 0x000000000093c0b0 ***
======= Backtrace: =========
/lib64/libc.so.6(+0x7f5d4)[0x7f7d008cf5d4]
/lib64/libc.so.6(+0x83bd8)[0x7f7d008d3bd

[2019-02-21 17:43] 2Belette opened #542 "--loopdelay-ms with --loop=0 not working"
I would like to wait between loop but looping indefinitely on the same time.
--loopdelay-ms is working when --loop is different than 0.

It is normal behavior?

[2019-02-21 23:56] fklassen commented on #542
Yes, that is the normal behavior.

[2019-02-22 12:46] 2Belette commented on #542
Would it make sense to allow the option for --loop=0 ?
(at least on my use case it would)

[2019-02-22 16:53] fklassen commented on #542
It's not clear from you discussion what the behavior is, and what you are actually doing. If you are saying it does not wait --loopdelay-ms when --loop=0, then that is a bug that needs to be reported.

If you feel this is a bug, please report version numbers, and exact examples of commands that work and that do not work.

[2019-02-28 19:18] fklassen opened #543 "Request flow stats be restored"
From mailing list ...

I upgraded tcpreplay to 4.3.1 from 4.2.x and noticed that some of the statistics printed by tcpreplay have been removed.

Here is what I see in 4.3.1

tester@tcpreplay:~/tcpreplay-4.2.5$ sudo tcpreplay --intf1=eth1 --intf2=eth2 --cachefile=ie.cache ie_out.pcap
Actual: 16 packets (4989 bytes) sent in 15.12 seconds
Rated: 329.8 Bps, 0.002 Mbps, 1.05 pps
Statistics for network